Repository nextcloud/documentation, pull requests merged in 2018-11, with the labels that each got.

#843 CentOS 7 walkthrough install created
  admin_manual/installation/selinux_configuration.rst
  admin_manual/installation/source_installation.rst
Labels: 3. to review, enhancement

#922 Remove explanation about "sizelimit exceeded"
  admin_manual/configuration_user/user_auth_ldap.rst
Labels: 3. to review, enhancement

#930 Update nginx regex to also server woff2
  admin_manual/installation/nginx.rst
Labels: 3. to review, backport-request

#932 Revamp 2FA admin docs
  admin_manual/configuration_user/two_factor-auth.rst
Labels: 2. developing, enhancement

#937 Revamp 2FA admin docs
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
  admin_manual/images/2fa-admin-settings.png
  admin_manual/images/2fa-app-install.png
  developer_manual/app/two-factor-provider.rst
  user_manual/images/2fa_backupcode_1.png
  user_manual/images/2fa_backupcode_2.png
  user_manual/images/totp_enable.png
  user_manual/images/totp_login_1.png
  user_manual/images/totp_login_2.png
  user_manual/user_2fa.rst
  user_manual_de/images/2fa_backupcode_1.png
  user_manual_de/images/2fa_backupcode_2.png
  user_manual_de/images/totp_enable.png
  user_manual_de/images/totp_login_2.png
Labels: 3. to review, enhancement

#947 Document behaviour of device-specific passwords on password change
  user_manual/session_management.rst
Labels: 4. to release, backport-request, manual: user

#952 Add nginx shortcut
  go.php
Labels: 3. to review

#957 Remove the legacy autoloader docs
  developer_manual/app/classloader.rst
Labels: 4. to release

#961 Add stable to the version links and fix conf
  _shared_assets/static/custom.css
  conf.py
Labels: 3. to review, backport-request, enhancement, high

#962 Add stable to the version links and fix conf
  _shared_assets/static/custom.css
  conf.py
Labels: 4. to release, high

#964 Add edit-on-github functionality
  admin_manual/conf.py
  conf.py
  developer_manual/conf.py
  user_manual/conf.py
  user_manual_de/conf.py
Labels: 3. to review, design, enhancement

#963 Add edit-on-github functionality
  admin_manual/conf.py
  conf.py
  developer_manual/conf.py
  user_manual/conf.py
  user_manual_de/conf.py
Labels: 3. to review, design, enhancement

#965 Fix docs home page
  index.html
  static/css/fonts/OpenSans-Bold.ttf
  static/css/fonts/OpenSans-Bold.woff
  static/css/fonts/OpenSans-Italic.ttf
  static/css/fonts/OpenSans-Italic.woff
  static/css/fonts/OpenSans-Light.ttf
  static/css/fonts/OpenSans-Light.woff
  static/css/fonts/OpenSans-Regular.ttf
  static/css/fonts/OpenSans-Regular.woff
  static/css/fonts/fontawesome-webfont.eot
  static/css/fonts/fontawesome-webfont.svg
  static/css/fonts/fontawesome-webfont.ttf
  static/css/fonts/fontawesome-webfont.woff
  static/css/main.min.css
  static/css/styles.css
  static/img/Nextcloud-Files.svg
  static/img/Nextcloud-Groupware.svg
  static/img/Nextcloud-Home.svg
  static/img/Nextcloud-Talk.svg
  static/img/home/background3.jpg
  static/img/logo.svg
  static/img/logo_blue_sprite.png
  static/img/logo_white_sprite.png
  static/img/note_pencil.svg
  static/img/social/diaspora.png
  static/img/social/diaspora.svg
  static/img/social/diasporaround.png
  static/img/social/facebook.png
  static/img/social/facebook.svg
  static/img/social/googleplus.png
  static/img/social/googleplus.svg
  static/img/social/mail.svg
  static/img/social/ownCloud7launch.png
  static/img/social/rss.png
  static/img/social/rss.svg
  static/img/social/twitter.png
  static/img/social/twitter.svg
  static/img/social/twitterround.png
  static/img/social/youtube.svg
  static/img/warning.svg
  static/js/bootstrap.min.js
  static/js/doctools.js
  static/js/jquery-1.11.0.min.js
  static/js/jquery-fix.js
  static/js/jquery.js
  static/js/main.js
  static/js/modules/codeHighlights.js
  static/js/modules/cookieconsent.js
  static/js/modules/header.js
  static/js/modules/slideshow.js
  static/js/modules/submenu.js
  static/js/modules/youtubePlayer.js
  static/js/navigation.js
  static/js/require.config.js
  static/js/require.min.js
  static/js/underscore.js
Labels: 3. to review, bug, high, regression

#972 Document how to use variables in translations in javascript
  developer_manual/core/translation.rst
Labels: 3. to review, backport-request

#973 generalize .well-known autodiscovery to also include webfinger
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, enhancement, manual: admin
