Repository nextcloud/documentation, pull requests merged in 2018-07, with the labels that each got.

#794 Fix #793
  developer_manual/app/init.rst
Labels: 2. developing, manual: developer

#801 Fix occ log command
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request

#800 Fix search example URL
  developer_manual/client_apis/WebDAV/search.rst
Labels: backport-request

#772 Add OAuth2 docs
  admin_manual/configuration_server/images/oauth2-settings.png
  admin_manual/configuration_server/index.rst
  admin_manual/configuration_server/oauth2.rst
Labels: 4. to release

#806 add antivirus-configuration link
  go.php
Labels: 3. to review

#803 document configurable avatar behaviour
  admin_manual/configuration_user/user_auth_ldap.rst
  admin_manual/configuration_user/user_auth_ldap_api.rst
Labels: 3. to review, enhancement

#811 Update documentation links
  admin_manual/index.rst
  user_manual/index.rst
Labels: 3. to review

#798 [#796] Developer documentation: Migrations
  developer_manual/app/index.rst
  developer_manual/app/migrations.rst
Labels: 3. to review, manual: developer

#815 App management docs
  admin_manual/installation/apps_management_installation.rst
  admin_manual/installation/images/apps_overview.png
  admin_manual/installation/images/apps_store.png
Labels: 3. to review, manual: admin

#816 Fix warnings of build command
  admin_manual/configuration_database/linux_database_configuration.rst
  admin_manual/configuration_files/external_storage/dropbox.rst
  admin_manual/configuration_files/external_storage/google.rst
  admin_manual/configuration_server/theming.rst
Labels: 3. to review

#809 small changes to system requirements
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, design

#817 config.php -> configuration
  admin_manual/configuration_server/config_sample_php_parameters.rst
Labels: 3. to review
