Repository nextcloud/documentation, pull requests merged in 2018-08, with the labels that each got.

#835 Fix certificate key length in dev manual
  developer_manual/app/code_signing.rst
Labels: 3. to review, backport-request, bug

#838 Fix path to apps management screenshots
  admin_manual/installation/apps_management_installation.rst
Labels: 3. to review

#833 Documentation for object storages
  admin_manual/configuration_files/primary_storage.rst
Labels: 3. to review

#839 Fix typos
  user_manual/pim/sync_osx.rst
Labels: 4. to release, bug

#832 Remove trailing space
  user_manual/pim/sync_android.rst
Labels: 4. to release

#831 Fix typo in user manual
  user_manual/pim/sync_android.rst
Labels: 4. to release

#834 Simple typo fix in documentation to cd into directory
  developer_manual/app/tutorial.rst
Labels: 4. to release

#841 Add Group commands
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review
