Repository nextcloud/documentation, pull requests merged in 2018-03, with the labels that each got.

#705 New layout and design
  _shared_assets/themes/nextcloud_com/layout.html
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Bold.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Bold.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-BoldItalic.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-BoldItalic.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-ExtraBold.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-ExtraBold.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-ExtraBoldItalic.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-ExtraBoldItalic.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Italic.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Italic.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Light.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-LightItalic.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-LightItalic.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Regular.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Regular.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Semibold.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-Semibold.woff
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-SemiboldItalic.ttf
  _shared_assets/themes/nextcloud_com/static/fonts/OpenSans-SemiboldItalic.woff
  _shared_assets/themes/nextcloud_com/static/img/logo_blue_sprite.png
  _shared_assets/themes/nextcloud_com/static/img/logo_white_sprite.png
  _shared_assets/themes/nextcloud_com/static/styles.css
  conf.py
Labels: 3. to review, bug, design, enhancement, high, papercut

#709 small fix
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review

#714 Remove outdated password policy docs
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/configuration_files/images/sharing-files-2.png
Labels: 3. to review, backport-request

#713 Update min OSX requirement
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#723 Fix build errors and markup
  admin_manual/contents.rst
  admin_manual/installation/deployment_recommendations.rst
  admin_manual/installation/source_installation.rst
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, bug

#388 PHP upgrade for 5.6 and 7.0 on RHEL/CentOS
  admin_manual/installation/index.rst
  admin_manual/installation/php_56_installation.rst
  admin_manual/installation/php_70_installation.rst
Labels: 3. to review, manual: admin
