Repository nextcloud/documentation, pull requests merged in 2018-04, with the labels that each got.

#738 Update access_control.rst
  admin_manual/file_workflows/access_control.rst
  admin_manual/file_workflows/automated_tagging.rst
  admin_manual/file_workflows/retention.rst
Labels: 3. to review, papercut

#725 Fixed header on small width
  _shared_assets/themes/nextcloud_com/static/styles.css
Labels: 4. to release, bug, design

#684 Documentation bump
  developer_manual/design/index.rst
  developer_manual/design/navigation.rst
  developer_manual/design/popovermenu.rst
  developer_manual/design/settings.rst
  developer_manual/images/newbutton.png
  developer_manual/images/popovermenu.png
Labels: 3. to review, design, manual: developer

#702 [14] Update encryption commands
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review

#697 [14] Add documentation for PublicTemplateResponse
  developer_manual/app/controllers.rst
Labels: 4. to release

#737 CalDAV sync with macOS
  user_manual/pim/sync_osx.rst
Labels: 3. to review

#742 Password policy: haveibeenpwnd.com
  admin_manual/configuration_user/user_password_policy.rst
  admin_manual/images/user_password_policy_configuration_app.png
Labels: 3. to review

#743 Update email-template docs
  admin_manual/configuration_server/email_configuration.rst
Labels: 3. to review

#747 Provide a shortcut for the trusted domains page
  go.php
Labels: 3. to review, backport-request

#753 Fix missing anchor element
  _shared_assets/themes/nextcloud_com/static/styles.css
Labels: 3. to review
