Repository nextcloud/documentation, pull requests merged in 2018-09, with the labels that each got.

#849 Increase versions to 14
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
  admin_manual/index.rst
  admin_manual/issues/general_troubleshooting.rst
  conf.py
  developer_manual/core/ocs-share-api.rst
  developer_manual/general/devenv.rst
  user_manual/external_storage/external_storage.rst
  user_manual/files/encrypting_files.rst
  user_manual/files/large_file_upload.rst
  user_manual/pim/sync_android.rst
  user_manual/pim/sync_ios.rst
  user_manual/pim/sync_osx.rst
  user_manual_de/external_storage/external_storage.rst
  user_manual_de/files/large_file_upload.rst
Labels: 3. to review, bug

#855 Add Referrer-Policy header to second location
  admin_manual/installation/nginx.rst
Labels: 3. to review

#856 Backport: Add Referrer-Policy header to nginx config
  admin_manual/installation/nginx.rst
Labels: 4. to release

#876 Update migration versions
  admin_manual/maintenance/migrating_owncloud.rst
Labels: 3. to review, backport-request

#870 Adds the note property for the update share endpoint
  developer_manual/core/ocs-share-api.rst
Labels: 3. to review, backport-request

#872 [14] Adds the note property for the update share endpoint
  developer_manual/core/ocs-share-api.rst
Labels: 3. to review

#880 Add basic docs for Trash and Versions webdav API
  developer_manual/client_apis/WebDAV/trashbin.rst
  developer_manual/client_apis/WebDAV/versions.rst
  developer_manual/client_apis/index.rst
Labels: 3. to review
