Repository nextcloud/documentation, pull requests merged in 2019-10, with the labels that each got.

#1635 Update min stable: 15 - 17
  conf.py
Labels: 3. to review, backport-request

#1636 Update release_schedule
  admin_manual/release_schedule.rst
Labels: 3. to review, enhancement

#1634 Rename 16 to 17
  index.html
Labels: 3. to review, bug

#1643 Remove "configuring upload limits within the gui"
  admin_manual/configuration_files/big_file_upload_configuration.rst
  admin_manual/configuration_files/images/admin_filehandling-1.png
  admin_manual/configuration_files/images/admin_filehandling-2.png
Labels: 3. to review, backport-request, enhancement

#1614 crontab: split command, stdin and stdout
  admin_manual/configuration_server/background_jobs_configuration.rst
Labels: 3. to review, enhancement

#1651 Update logging docs to add fatal option
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, manual: admin, waiting for code merge

#1648 Add PostgreSQL 11
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, manual: admin

#1657 Bruteforce docs
  admin_manual/configuration_server/bruteforce_configuration.rst
  admin_manual/configuration_server/index.rst
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: 3. to review, enhancement

#1666 added documentation quick-links
  go.php
Labels: 3. to review, backport-request, enhancement

#1670 more specifics for possible MIME types at workflows
  admin_manual/file_workflows/access_control.rst
Labels: 3. to review, backport-request, manual: admin

#1674 Harden NGINX config
  admin_manual/installation/nginx.rst
Labels: 3. to review, backport-request

#1679 fix PATH_INFO
  admin_manual/installation/nginx.rst
Labels: backport-request

#1615 mysql_4byte_support: extra maintenance steps
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: 3. to review, enhancement
