Repository nextcloud/documentation, pull requests merged in 2019-11, with the labels that each got.

#1689 Also show the 2.6 client docs
  index.html
Labels: 4. to release

#1693 Update synchronizing with MacOS
  user_manual/pim/images/macos_3.png
  user_manual/pim/sync_osx.rst
Labels: 3. to review

#1594 update user manual PIM iOS
  user_manual/pim/sync_ios.rst
Labels: 3. to review

#1697 Remove current and next version from doc
  admin_manual/release_schedule.rst
Labels: 3. to review, enhancement

#1603 Update background_jobs_configuration.rst
  admin_manual/configuration_server/background_jobs_configuration.rst
Labels: 3. to review, manual: admin

#1549 Add hash module to required list
  admin_manual/installation/source_installation.rst
Labels: 4. to release

#1630 Adapt Updates to nginx configuration
  admin_manual/release_notes.rst
Labels: 3. to review, enhancement, manual: admin

#1711 [stable15] Remove current and next version from doc.
  admin_manual/release_schedule.rst
Labels: 3. to review, enhancement

#1712 [stable17] Remove current and next version from doc.
  admin_manual/release_schedule.rst
Labels: 3. to review, enhancement

#1710 [stable16] Remove current and next version from doc.
  admin_manual/release_schedule.rst
Labels: 3. to review, enhancement

#1571 added the encryption details page which decribes the server-side encr…
  admin_manual/configuration_files/encryption_details.rst
  admin_manual/configuration_files/index.rst
Labels: 3. to review, enhancement, manual: admin, security

#1708 Explain how to set chunk size for LDAP's clean up checker
  admin_manual/configuration_user/user_auth_ldap_cleanup.rst
Labels: 3. to review, backport-request, enhancement
