Repository nextcloud/documentation, pull requests merged in 2019-01, with the labels that each got.

#1087 Fix typo: "parameters and are" -> "parameters are"
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request

#1089 Improve well-known doc for subdirectory
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, backport-request

#1070 Pimp tutorial
  developer_manual/app/tutorial.rst
Labels: 3. to review, enhancement

#1039 Correction of restoring PostgreSQL database
  admin_manual/maintenance/restore.rst
Labels: 3. to review, manual: admin

#1105 Fix client api
  developer_manual/client_apis/OCS/index.rst
  developer_manual/client_apis/WebDAV/basic.rst
  developer_manual/client_apis/WebDAV/chunking.rst
  developer_manual/client_apis/WebDAV/index.rst
  developer_manual/client_apis/WebDAV/search.rst
  developer_manual/client_apis/WebDAV/trashbin.rst
  developer_manual/client_apis/WebDAV/versions.rst
  developer_manual/client_apis/index.rst
  developer_manual/core/index.rst
Labels: 4. to release, manual: developer

#1104 Update external API to use proper OCSController etc
  developer_manual/core/externalapi.rst
Labels: 3. to review

#1115 Add redirect for admin-bigint-conversion
  go.php
Labels: 3. to review

#1100 Add slashes to rewrite rules
  admin_manual/issues/general_troubleshooting.rst
Labels: 4. to release, backport-request, bug

#1116 Remove outdated ArchLinux steps
  README.rst
Labels: 3. to review

#1124 Merge information about l10n from core and app
  developer_manual/app/view/l10n.rst
  developer_manual/core/translation.rst
Labels: manual: developer

#1127 Fix indefinite article before Nextcloud (an->a)
  admin_manual/configuration_files/encryption_configuration.rst
  admin_manual/configuration_files/external_storage/nextcloud.rst
  admin_manual/configuration_server/background_jobs_configuration.rst
  admin_manual/configuration_user/user_configuration.rst
  admin_manual/installation/nginx.rst
  admin_manual/installation/system_requirements.rst
  admin_manual/maintenance/backup.rst
  admin_manual/maintenance/update.rst
  user_manual/files/access_webdav.rst
  user_manual/files/access_webgui.rst
  user_manual/files/file_drop.rst
Labels: backport-request

#1130 [doc] Fix typo in storage documentation
  admin_manual/configuration_files/primary_storage.rst
Labels: backport-request

#923 Groupware Clients Part 1
  user_manual/pim/calendar.rst
  user_manual/pim/images/macos_1.png
  user_manual/pim/images/macos_2.png
  user_manual/pim/images/macos_3.png
  user_manual/pim/images/macos_4.png
  user_manual/pim/index.rst
  user_manual/pim/sync_android.rst
  user_manual/pim/sync_ios.rst
  user_manual/pim/sync_kde.rst
  user_manual/pim/sync_osx.rst
  user_manual/pim/sync_thunderbird.rst
  user_manual/pim/sync_windows10.rst
  user_manual/pim/troubleshooting.rst
Labels: 3. to review, manual: user

#1147 Update chunking.rst: add modification date info
  developer_manual/client_apis/WebDAV/chunking.rst
Labels: backport-request

#1140 Clarified on the usage of Redis and PHP 7.0+ is required now
  admin_manual/configuration_server/caching_configuration.rst
Labels: 3. to review, backport-request

#1152 fix regular expressions in nginx config
  admin_manual/installation/nginx.rst
Labels: 4. to release

#1155 Fix cleanup issues
  user_manual/pim/index.rst
  user_manual/pim/sync_ios.rst
  user_manual/pim/sync_osx.rst
Labels: 3. to review, backport-request, bug

#1170 Fix typos on Design guidelines → SCSS
  developer_manual/design/css.rst
Labels: 3. to review, backport-request, design, enhancement

#1173 Add hidden file setting section for samba
  admin_manual/configuration_files/external_storage/smb.rst
Labels: 3. to review, backport-request, manual: admin

#1185 Add 2FA user documentation to go.php
  go.php
Labels: 3. to review, enhancement

#1192 Fix dead link to snapcraft's installation page
  admin_manual/maintenance/package_upgrade.rst
Labels: 3. to review, manual: admin

#1121 Centos php72
  admin_manual/installation/index.rst
  admin_manual/installation/php_70_installation.rst
  admin_manual/installation/php_72_installation.rst
Labels: 3. to review, backport-request

#1197 Add docs for direct endpoint
  developer_manual/client_apis/OCS/index.rst
Labels: backport-request

#1200 Nginx config: Remove line-breaks from STS header
  admin_manual/installation/nginx.rst
Labels: 3. to review, enhancement

#1208 Add documentation for several dav commands
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review

#1209 Add intitial state docs
  developer_manual/app/view/js.rst
Labels: 2. developing, enhancement
