Repository nextcloud/documentation, pull requests merged in 2019-05, with the labels that each got.

#1424 Add list of possible remote connection destinations
  admin_manual/installation/harden_server.rst
Labels: 4. to release, enhancement, manual: admin

#1440 Remove recommendation for opcache on CLI
  admin_manual/installation/server_tuning.rst
Labels: 3. to review, backport-request

#1444 fix links on NPM page
  developer_manual/app/npm.rst
Labels: 3. to review, backport-request, bug, manual: developer

#1331 Add app password migration section
  developer_manual/client_apis/LoginFlow/index.rst
Labels: backport-request

#1453 Remote wipe client api docs
  developer_manual/client_apis/RemoteWipe/index.rst
  developer_manual/client_apis/index.rst
Labels: 3. to review

#1456 Delete app password docs
  developer_manual/client_apis/LoginFlow/index.rst
Labels: 3. to review, enhancement

#1461 Update linux_database_configuration.rst
  admin_manual/configuration_database/linux_database_configuration.rst
Labels: 4. to release, backport-request, bug
