Repository nextcloud/documentation, pull requests merged in 2019-02, with the labels that each got.

#1216 iOS Files & Talk apps are requiring iOS 10.x
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#1214 Move some sections and rename headings
  admin_manual/configuration_server/activity_configuration.rst
  admin_manual/configuration_server/antivirus_configuration.rst
  admin_manual/configuration_server/automatic_configuration.rst
  admin_manual/configuration_server/background_jobs_configuration.rst
  admin_manual/configuration_server/caching_configuration.rst
  admin_manual/configuration_server/email_configuration.rst
  admin_manual/configuration_server/index.rst
  admin_manual/configuration_server/language_configuration.rst
  admin_manual/configuration_server/logging_configuration.rst
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_server/reverse_proxy_configuration.rst
  admin_manual/file_workflows/access_control.rst
  admin_manual/file_workflows/automated_tagging.rst
  admin_manual/file_workflows/retention.rst
  admin_manual/installation/harden_server.rst
  admin_manual/installation/index.rst
  admin_manual/installation/server_tuning.rst
  go.php
Labels: 3. to review, backport-request

#1220 Minor change to System requirements
  admin_manual/installation/system_requirements.rst
Labels: 3. to review

#1215 Update package name for imagick with SVG support
  admin_manual/configuration_server/theming.rst
Labels: 3. to review, backport-request, manual: admin

#1223 Fix redirect for security tips
  go.php
Labels: backport-request

#1057 Documentation: behaviour with empty LDAP user-attributes undocumented…
  admin_manual/configuration_user/user_auth_ldap.rst
Labels: 2. developing, help wanted, manual: admin

#1221 Calendar documentation
  user_manual/pim/calendar.rst
  user_manual/pim/images/calendar_application.png
  user_manual/pim/images/calendar_create.gif
  user_manual/pim/images/calendar_dropdown.png
  user_manual/pim/images/calendar_editing.png
  user_manual/pim/images/calendar_new-event_month.gif
  user_manual/pim/images/calendar_new-event_week.gif
  user_manual/pim/images/calendar_settings.png
Labels: 3. to review, manual: user

#1181 Add another table not converted from sqlite to mysql
  admin_manual/configuration_database/db_conversion.rst
Labels: 3. to review, bug

#1260 add exception for ocm-provider end-point
  admin_manual/installation/nginx.rst
Labels: 3. to review, backport-request

#1259 Show overwrite parameter as list
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: 3. to review, enhancement

#1266 Convert gif inside PDF build process to PNGs
  user_manual/conf.py
Labels: 2. developing

#1270 Only render gif in HTML
  user_manual/conf.py
  user_manual/pim/calendar.rst
Labels: enhancement

#1278 Minor Theming Changes
  developer_manual/core/theming.rst
Labels: 3. to review
