Repository nextcloud/documentation, pull requests merged in 2019-03, with the labels that each got.

#1282 Fix a link to point to correct version and remove TODO entry
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request

#1284 Fix SEARCH fileid and rfc link
  developer_manual/client_apis/WebDAV/search.rst
Labels: 3. to review, backport-request, bug

#1280 change nginx-config for subdir to resolve /ocm-provider properly
  admin_manual/installation/nginx.rst
Labels: backport-request

#1299 Update install instructions
  README.rst
Labels: 3. to review

#1303 Make sure https:// is not parsed as URL
  user_manual/pim/sync_osx.rst
Labels: 3. to review

#1304 Update supported apps
  admin_manual/installation/apps_supported.rst
Labels: 3. to review

#1311 user documentation browser recommendation
  user_manual/webinterface.rst
Labels: 3. to review, manual: user

#1319 user_external -- point to up to date documentation
  admin_manual/configuration_user/user_auth_ftp_smb_imap.rst
Labels: 3. to review, backport-request, enhancement

#1324 Fix "API's" -> "APIs" typo
  developer_manual/client_apis/OCS/index.rst
Labels: 3. to review, bug

#1325 Add sharee search and recommendation API docs
  developer_manual/core/index.rst
  developer_manual/core/ocs-sharee-api.rst
Labels: 3. to review
