Repository nextcloud/documentation, pull requests merged in 2019-07, with the labels that each got.

#1522 Document the front_controller_active param
  admin_manual/installation/nginx.rst
Labels: 3. to review, enhancement, manual: admin

#1523 Update path to php-fpm socket
  admin_manual/installation/nginx.rst
Labels: 3. to review, enhancement, manual: admin

#1521 Cleanup trailing slashes and spaces
  admin_manual/installation/nginx.rst
Labels: 3. to review, backport-request, enhancement, manual: admin

#1512 Include info about Barracuda innodb_file_format
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: backport-request

#1298 add instructions to use revised filetype icons
  developer_manual/core/theming.rst
Labels: manual: developer

#1503 Update tutorial.rst, fixes #1500
  developer_manual/app/tutorial.rst
Labels: 4. to release, backport-request

#946 Remove legacy theming documentation
  developer_manual/core/index.rst
  developer_manual/core/theming.rst
Labels: 3. to review, manual: developer

#1337 add server_port variable to well-known redirects
  admin_manual/installation/nginx.rst
Labels: 4. to release, backport-request, bug

#1376 Add correct link like suggested in comments to #1335
  user_manual/files/access_webdav.rst
Labels: 4. to release

#1470 Update mysql_4byte_support.rst
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: 3. to review

#1543 Update path to PHP 7.2 config
  admin_manual/installation/source_installation.rst
Labels: 3. to review, enhancement, manual: admin

#1520 Add X-Frame-Options header to nginx
  admin_manual/installation/nginx.rst
Labels: 4. to release, enhancement, manual: admin, waiting for code merge

#1553 add the VM scripts as an option on Ubuntu Server
  admin_manual/installation/source_installation.rst
Labels: 4. to release
