Repository nextcloud/documentation, pull requests merged in 2020-08, with the labels that each got.

#2842 Document existing events
  developer_manual/basics/events.rst
Labels: backport-request, enhancement

#2909 Document the inclusing of a composer autoloader
  developer_manual/app_development/bootstrap.rst
Labels: 3. to review

#2980 Add info about LDAP info caching
  admin_manual/configuration_user/user_auth_ldap.rst
Labels: 3. to review, backport-request, enhancement

#2981 Add app config option to disable "Email was changed by admin" email
  admin_manual/configuration_server/config_sample_php_parameters.rst
Labels: 3. to review, enhancement

#2168 Add docs for new dashboard api
  developer_manual/digging_deeper/dashboard.rst
  developer_manual/digging_deeper/index.rst
Labels: 3. to review, enhancement

#3020 add documentation for the new "notification"-option of the rentention app
  admin_manual/file_workflows/images/retention_sample.png
  admin_manual/file_workflows/retention.rst
Labels: backport-request

#3019 Update file_sharing_configuration.rst
  admin_manual/configuration_files/file_sharing_configuration.rst
Labels: backport-request

#3027 render code block correctly
  admin_manual/configuration_files/file_sharing_configuration.rst
Labels: backport-request

#3108 Update dependency_injection.rst (Remove unavailable video from docs)
  developer_manual/basics/dependency_injection.rst
Labels: backport-request

#2765 Update documentation as per server#22041
  developer_manual/basics/events.rst
Labels: 3. to review

#3604 Add link to new phpdoc build
  developer_manual/digging_deeper/api.rst
Labels: 3. to review, backport-request
