Repository nextcloud/documentation, pull requests merged in 2020-09, with the labels that each got.

#3124 Update routing.rst; corrected parameter name from `method` to `verb`
  developer_manual/basics/routing.rst
Labels: 4. to release

#4460 16 is EOL
  conf.py
Labels: 3. to review

#4630 Adjust option text to change in federated shares settings
  user_manual/files/access_webdav.rst
Labels: 3. to review, manual: user

#4625 Change the letter
  user_manual/pim/sync_osx.rst
Labels: backport-request

#4611 Changing the letter in the name of the store
  user_manual/pim/sync_android.rst
Labels: backport-request

#4624 Correct bold fonts
  user_manual/pim/sync_osx.rst
Labels: backport-request

#4617 Adding a conjunction
  user_manual/pim/sync_android.rst
Labels: backport-request

#4437 Update search.rst
  developer_manual/digging_deeper/search.rst
Labels: 3. to review, bug

#4756 [stable19] Add link to new phpdoc build
  developer_manual/api.rst
Labels: 3. to review

#4757 [stable18] Add link to new phpdoc build
  developer_manual/api.rst
Labels: 3. to review, bug

#4766 Update urls to HTTPS
  admin_manual/configuration_database/linux_database_configuration.rst
  admin_manual/configuration_files/big_file_upload_configuration.rst
  admin_manual/configuration_files/external_storage_configuration_gui.rst
  admin_manual/configuration_server/antivirus_configuration.rst
  admin_manual/configuration_server/caching_configuration.rst
  admin_manual/configuration_server/config_sample_php_parameters.rst
  admin_manual/installation/nginx.rst
  admin_manual/installation/server_tuning.rst
  admin_manual/installation/source_installation.rst
  admin_manual/issues/general_troubleshooting.rst
  build/generateIconsDoc.php
  developer_manual/app_development/tutorial.rst
  developer_manual/app_publishing_maintenance/publishing.rst
  developer_manual/basics/dependency_injection.rst
  developer_manual/basics/testing.rst
  developer_manual/core/unit-testing.rst
  developer_manual/digging_deeper/debugging.rst
  developer_manual/getting_started/codingguidelines.rst
  developer_manual/getting_started/debugging.rst
  developer_manual/prologue/bugtracker/codereviews.rst
  developer_manual/prologue/development_process.rst
  developer_manual/prologue/security.rst
  index.html
Labels: 3. to review, enhancement

#5041 enh appdata docs
  developer_manual/basics/storage/appdata.rst
Labels: backport-request

#5040 getAppfolder is dead
  developer_manual/basics/storage/filesystem.rst
Labels: backport-request

#5102 Removal of duplicate preposition
  user_manual/pim/sync_thunderbird.rst
Labels: 3. to review

#5101 Correction of typos
  user_manual/pim/sync_gnome.rst
Labels: 3. to review

#5095 Corrected errors reported by translators
  user_manual/files/encrypting_files.rst
Labels: 3. to review

#5103 Removal of the word "top"
  user_manual/files/quota.rst
Labels: 3. to review

#5093 Reconstruction of the sentence for deleted files
  user_manual/files/deleted_file_management.rst
Labels: 3. to review

#5119 Add a hint about semantic versions
  developer_manual/app_development/info.rst
Labels: 3. to review, enhancement
