Repository nextcloud/documentation, pull requests merged in 2020-03, with the labels that each got.

#1875 LDAP: Warn about changing uid
  admin_manual/configuration_user/user_auth_ldap.rst
Labels: 3. to review, manual: admin

#1879 loglevel is an int
  admin_manual/configuration_server/logging_configuration.rst
Labels: 3. to review, backport-request, bug

#1883 added necessary log.condition documentation for admin_audit
  admin_manual/configuration_server/logging_configuration.rst
Labels: 3. to review, backport-request

#1888 updated Nextcloud logo to current version
  _shared_assets/static/logo-blue.pdf
  _shared_assets/static/logo-blue.png
Labels: 3. to review, design

#1891 Fix/remove old unmaintained storage backend
  admin_manual/configuration_files/external_storage/auth_mechanisms.rst
  admin_manual/configuration_files/external_storage_configuration_gui.rst
  developer_manual/bugtracker/triaging.rst
  user_manual/external_storage/external_storage.rst
  user_manual/files/access_webgui.rst
  user_manual/files/encrypting_files.rst
Labels: 3. to review, backport-request, bug

#1896 clarified trash bin retention by storage shortage override
  admin_manual/configuration_server/config_sample_php_parameters.rst
  user_manual/files/deleted_file_management.rst
  user_manual/files/quota.rst
Labels: backport-request

#1852 Use more inclusive pronouns
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/user_configuration.rst
  admin_manual/installation/installation_wizard.rst
  developer_manual/app/flow.rst
  developer_manual/app/publishing.rst
  developer_manual/bugtracker/codereviews.rst
  developer_manual/bugtracker/kanban.rst
  developer_manual/general/security.rst
  user_manual/files/deleted_file_management.rst
Labels: 3. to review

#1904 typo error
  admin_manual/configuration_database/linux_database_configuration.rst
Labels: backport-request

#1788 Windows 10 webdav
  user_manual/files/access_webdav.rst
Labels: 4. to release

#1799 expireDate also valid parameter in new share
  developer_manual/client_apis/OCS/ocs-share-api.rst
Labels: 4. to release

#1917 updated flow screenshots
  admin_manual/file_workflows/images/automated_tagging_sample_rule.png
  admin_manual/file_workflows/images/files_access_control_block_mimetype.png
  admin_manual/file_workflows/images/files_access_control_collaborative_tags.png
  admin_manual/file_workflows/images/files_access_control_sample_rules.png
Labels: 3. to review, backport-request, manual: admin

#1916 added troubleshooting for changed federated cloud IDs
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, backport-request, manual: admin

#1920 updated a large bunch of screenshots
  admin_manual/configuration_files/federated_cloud_sharing_configuration.rst
  admin_manual/configuration_files/images/create_public_share-10.png
  admin_manual/configuration_files/images/create_public_share-6.png
  admin_manual/configuration_files/images/create_public_share-8.png
  admin_manual/configuration_files/images/create_public_share-9.png
  admin_manual/configuration_files/images/enable-app.png
  admin_manual/configuration_files/images/encryption1.png
  admin_manual/configuration_files/images/encryption14.png
  admin_manual/configuration_files/images/encryption15.png
  admin_manual/configuration_files/images/encryption3.png
  admin_manual/configuration_files/images/federated-sharing.png
  admin_manual/configuration_files/images/federation-0.png
  admin_manual/configuration_files/images/federation-2.png
  admin_manual/configuration_files/images/federation-3.png
  admin_manual/configuration_server/images/cache-1.png
  admin_manual/configuration_server/images/oauth2-settings.png
  admin_manual/configuration_server/images/saml_app_overview.png
  admin_manual/configuration_server/images/theming.png
  admin_manual/installation/images/deprecs-1.png
  admin_manual/installation/images/deprecs-2.png
  admin_manual/installation/images/deprecs-3.png
  admin_manual/installation/images/install-wizard-a.png
  admin_manual/installation/images/install-wizard-a1.png
  admin_manual/installation/images/install-wizard-a2.png
  admin_manual/installation/images/install-wizard-a4.png
  admin_manual/issues/code_signing.rst
  admin_manual/issues/images/code-integrity-admin.png
  admin_manual/issues/images/code-integrity-notification.png
Labels: 3. to review, backport-request

#1931 Fix database file name in backup documentation
  admin_manual/maintenance/backup.rst
Labels: backport-request
