Repository nextcloud/documentation, pull requests merged in 2020-12, with the labels that each got.

#5455 Drop misleading traces of app.php recommendations
  developer_manual/app_development/init.rst
  developer_manual/basics/events.rst
Labels: 3. to review, backport-request, bug

#5469 documented occ sharing commands
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request

#5453 Do not suppress include_once errors for the composer autoloader
  developer_manual/app_development/bootstrap.rst
Labels: 3. to review, backport-request, bug

#5465 Describe step-by-step upgrading better
  admin_manual/maintenance/upgrade.rst
Labels: 3. to review, backport-request, manual: admin

#5505 Deprecate the app code checker
  admin_manual/configuration_server/occ_command.rst
  developer_manual/app_publishing_maintenance/publishing.rst
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/continuous_integration.rst
Labels: 3. to review, manual: admin, manual: developer

#5509 Update unified search docs
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/search.rst
Labels: 3. to review, backport-request, bug, enhancement, manual: developer

#5508 Add Traefik v1 TOML example
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: backport-request

#5563 Change "Gallery" to "Grid View"
  user_manual/webinterface.rst
Labels: manual: user

#5517 Correct a typo
  user_manual/pim/sync_windows10.rst
Labels: 4. to release, manual: user

#5514 Correct FTP and triple dot
  user_manual/files/access_webgui.rst
Labels: 4. to release, manual: user

#5523 Changing the name of the app
  user_manual/pim/contacts.rst
Labels: 4. to release, manual: user

#5560 Lots of fixes
  user_manual/pim/sync_thunderbird.rst
Labels: 4. to release, manual: user

#5630 Add a colon
  user_manual/whats_new.rst
Labels: manual: user

#5682 Lots of fixes in "access_webgui"
  user_manual/files/access_webgui.rst
Labels: backport-request, manual: user

#5641 Replace a dot to a colon
  user_manual/userpreferences.rst
Labels: manual: user

#5707 Replace dot with colon
  user_manual/files/file_drop.rst
Labels: manual: user

#5582 Fixed some bugs
  user_manual/files/access_webdav.rst
Labels: 3. to review, manual: user

#5807 Give devs a hint that it's their last chance ditch database.xml
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/basics/storage/migrations.rst
  developer_manual/basics/storage/schema.rst
Labels: 3. to review, manual: developer

#5571 Fix punctuation and "Share"
  user_manual/files/sharing.rst
Labels: 4. to release, manual: user

#5619 A few more minor fixes
  user_manual/pim/sync_thunderbird.rst
Labels: 4. to release, manual: user

#5714 Replace dot with colon in "encrypting_files"
  user_manual/files/encrypting_files.rst
Labels: manual: user

#5804 Change code tag to bold
  user_manual/files/access_webdav.rst
Labels: manual: user

#5785 Update "Development Environment" guide
  developer_manual/getting_started/devenv.rst
Labels: 4. to release, manual: developer

#5657 Reposition the photo
  user_manual/webinterface.rst
Labels: 4. to release, manual: user

#5653 Convert a dot to a colon
  user_manual/session_management.rst
Labels: 4. to release, manual: user

#5723 Replace dot with colon in "contacts"
  user_manual/pim/contacts.rst
Labels: 4. to release, manual: user

#5764 Fixes in "sync_kde"
  user_manual/pim/sync_kde.rst
Labels: 4. to release, manual: user

#5650 Fix dot on colon
  user_manual/user_2fa.rst
Labels: 4. to release, manual: user

#5825 Update admin webserver config recommendations for well known handlers
  admin_manual/installation/nginx.rst
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, bug, manual: admin

#5590 Add move-calendar-rename flag docs
  admin_manual/configuration_server/occ_command.rst
Labels: 4. to release, backport-request, enhancement

#5772 Replace dot for a colon in "sync_gnome"
  user_manual/pim/sync_gnome.rst
Labels: manual: user

#5577 A few fixes
  user_manual/pim/calendar.rst
Labels: manual: user

#5821 Document the new Web Host Metadata API for apps
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/web_host_metadata.rst
Labels: 3. to review, enhancement, manual: developer

#5843 Document PSR-0 and its deprecation
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/psr.rst
Labels: 3. to review, backport-request, manual: developer

#5831 Updated the docs for ease
  admin_manual/installation/server_tuning.rst
Labels: manual: admin
