Repository nextcloud/documentation, pull requests merged in 2020-06, with the labels that each got.

#2120 Fix admin doc links
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
  admin_manual/issues/general_troubleshooting.rst
  developer_manual/client_apis/OCS/ocs-share-api.rst
  user_manual/files/encrypting_files.rst
  user_manual/files/large_file_upload.rst
  user_manual_de/external_storage/external_storage.rst
  user_manual_de/files/large_file_upload.rst
  user_manual_pt-br/external_storage/external_storage.rst
  user_manual_pt-br/files/encrypting_files.rst
  user_manual_pt-br/files/large_file_upload.rst
  user_manual_pt-br/pim/sync_ios.rst
Labels: backport-request

#2125 fixes requested by check annotations
  admin_manual/apps_management.rst
  admin_manual/configuration_server/activity_configuration.rst
  user_manual/files/deleted_file_management.rst
  user_manual/files/quota.rst
  user_manual/pim/contacts.rst
  user_manual/pim/sync_android.rst
Labels: 3. to review, backport-request, manual: admin, manual: developer, manual: user, standardisation

#2129 purge strings about explicit Nextcloud versions
  admin_manual/configuration_database/bigint_identifiers.rst
  admin_manual/configuration_files/encryption_configuration.rst
  admin_manual/configuration_files/encryption_details.rst
  admin_manual/configuration_files/external_storage/smb.rst
  admin_manual/configuration_files/external_storage_configuration.rst
  admin_manual/configuration_files/external_storage_configuration_gui.rst
  admin_manual/configuration_files/index.rst
  admin_manual/configuration_server/activity_configuration.rst
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
  admin_manual/groupware/calendar.rst
  admin_manual/installation/source_installation.rst
  admin_manual/release_notes.rst
  developer_manual/app/classloader.rst
  developer_manual/app/tutorial.rst
  developer_manual/app/view/css.rst
  developer_manual/client_apis/LoginFlow/index.rst
  developer_manual/design/css.rst
  user_manual/files/access_webgui.rst
  user_manual/session_management.rst
  user_manual_de/files/access_webgui.rst
  user_manual_de/files/federated_cloud_sharing.rst
  user_manual_pt-br/files/access_webgui.rst
  user_manual_pt-br/session_management.rst
Labels: 3. to review, backport-request, manual: admin, manual: developer, manual: user, medium, standardisation

#2121 documentation for user invoked ownership transfer
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/configuration_server/occ_command.rst
  user_manual/files/index.rst
  user_manual/files/transfer_ownership.rst
  user_manual/images/transfer_ownership-accept.png
Labels: 3. to review, backport-request, enhancement, manual: admin, manual: user

#2138 Document current bootstrap mechanism
  developer_manual/app/bootstrap.rst
  developer_manual/app/index.rst
  developer_manual/app/init.rst
Labels: 3. to review, backport-request, manual: developer

#2154 Continue at step 3 of MySQL
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: 3. to review, backport-request, bug

#2157 \OCP\BackgroundJob\Job::run is neither public nor static
  developer_manual/app/backgroundjobs.rst
Labels: 3. to review, backport-request, bug

#2167 Easier language for Using your own appstore
  admin_manual/apps_management.rst
Labels: 3. to review, enhancement

#2164 Document new bootstrap process
  developer_manual/app_development/bootstrap.rst
Labels: 3. to review, enhancement

#2166 Document unified search API
  developer_manual/app_development/bootstrap.rst
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/search.rst
Labels: 3. to review
