Repository nextcloud/documentation, pull requests merged in 2020-04, with the labels that each got.

#1937 MySQL 5.6 is EOL already, MariaDB 10.1 is as good as EOL
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, manual: admin

#1938 updated EOL for MySQL and MariaDB
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request, manual: admin

#1913 Update example_centos.rst
  admin_manual/installation/example_centos.rst
Labels: 4. to release

#1945 Document the new event classes
  developer_manual/app/events.rst
Labels: 3. to review, backport-request

#1947 Document the upgrade of symfony in 19 and required changes
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review

#1946 Document the new js network events
  developer_manual/app/javascript-apis.rst
Labels: 3. to review

#1948 Document jquery deprecation
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review, enhancement

#1950 Update deprecated globals in 19
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review

#1951 Add new and changed apis in 19
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review

#1952 Document new events in 19
  developer_manual/app/events.rst
Labels: 3. to review

#1949 Update deprecated globals in 18
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review, backport-request

#1955 Document deprecation of untyped DI queries
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review

#1954 Document removed globals and libs in 19
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review, manual: developer

#1957 Document options for php and js code formatting tools
  developer_manual/app/coding-style.rst
  developer_manual/app/index.rst
Labels: 3. to review, manual: developer

#1956 Fix formatting of code in text
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review, bug

#1958 Document PSR implementations
  developer_manual/app/index.rst
  developer_manual/app/psr.rst
Labels: 3. to review, manual: developer

#1868 Add example for apps store url
  admin_manual/apps_management.rst
Labels: 3. to review, enhancement

#1960 Small fix
  index.html
Labels: backport-request

#1964 fix some issues in upgrade-guide
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review

#1963 [stable18] Document app dev upgrade
  developer_manual/app/index.rst
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review

#1970 Revert "Fix database file name in backup documentation"
  admin_manual/maintenance/backup.rst
Labels: 3. to review, bug

#1959 Add NGINX reverse proxy code block
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: 4. to release

#1969 Bunch of updates to the app store documentation
  admin_manual/apps_management.rst
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
  developer_manual/app/code_signing.rst
  developer_manual/app/publishing.rst
Labels: 3. to review, backport-request

#1968 add comments and link to activity docs
  developer_manual/client_apis/WebDAV/comments.rst
  developer_manual/client_apis/WebDAV/index.rst
  developer_manual/client_apis/activity-api.rst
  developer_manual/client_apis/index.rst
Labels: 3. to review

#1874 Add more activity docs
  admin_manual/configuration_server/activity_configuration.rst
  admin_manual/configuration_server/config_sample_php_parameters.rst
Labels: 3. to review, enhancement

#1744 add autocomplete API
  developer_manual/client_apis/OCS/ocs-api-overview.rst
Labels: 3. to review, manual: developer

#1809 Fixing small typo in docs
  admin_manual/installation/source_installation.rst
Labels: 2. developing, bug

#1962 Document "Invalid private key for encryption app"
  admin_manual/configuration_files/encryption_configuration.rst
Labels: 3. to review, manual: admin

#2000 Fix paragraph layout after merging #1936
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: 3. to review, backport-request

#1902 updated sharing config page documentation
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/configuration_files/images/sharing-files-1.png
Labels: 3. to review, enhancement

#2006 [stable17] Add example Swift v3 scope
  admin_manual/configuration_files/primary_storage.rst
Labels: 3. to review, backport-request

#2005 Update Primary Storage doc for OpenStack Swift v3
  admin_manual/configuration_files/primary_storage.rst
Labels: 3. to review, backport-request

#1773 Add Groupware section
  .gitignore
  admin_manual/configuration_server/occ_command.rst
  admin_manual/contents.rst
  admin_manual/groupware/calendar.rst
  admin_manual/groupware/index.rst
  user_manual/pim/calendar.rst
  user_manual/pim/images/calendar_event_invitation_level.png
  user_manual/pim/images/calendar_event_menu.png
  user_manual/pim/images/calendar_event_reminders.png
  user_manual/pim/images/calendar_event_repeat.png
  user_manual/pim/sync_android.rst
  user_manual/pim/sync_kde.rst
Labels: 3. to review, manual: admin, manual: user

#2014 Fix typo
  user_manual/files/access_webdav.rst
Labels: 3. to review, manual: user

#2015 Fix code block
  admin_manual/installation/example_centos.rst
Labels: 3. to review, backport-request, bug

#1775 Fix formatting of occ log:manage options
  admin_manual/configuration_server/occ_command.rst
Labels: 4. to release, backport-request

#2021 Added example rule to exclude folder
  admin_manual/file_workflows/automated_tagging.rst
  admin_manual/file_workflows/images/automated_tagging_sample_rule_exclude_folder.png
Labels: 3. to review, enhancement

#2028 Clarify ownCloud migration version
  admin_manual/maintenance/migrating_owncloud.rst
Labels: 3. to review, backport-request
