Repository nextcloud/documentation, pull requests merged in 2020-10, with the labels that each got.

#5084 Direct Download: Fix link expiration time
  developer_manual/client_apis/OCS/ocs-api-overview.rst
Labels: 3. to review, backport-request, bug

#5155 Drop freenode
  .github/config.yml
Labels: 3. to review, enhancement

#5118 Correct the sample code for middleware
  developer_manual/basics/middlewares.rst
Labels: 3. to review, bug

#5160 Document Nextcloud 20 critical changes
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/basics/logging.rst
  developer_manual/digging_deeper/psr.rst
  developer_manual/digging_deeper/repair.rst
Labels: 4. to release, manual: developer

#5159 Show 20 as current and latest release
  conf.py
  index.html
Labels: 3. to review, enhancement

#5158 Rmove Gallery App Documentation
  user_manual/files/gallery_app.rst
  user_manual/files/index.rst
  user_manual/images/gallery-1.png
  user_manual/images/gallery-2.png
Labels: backport-request

#5166 Document the escape-html removal
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, backport-request, enhancement

#5156 server_tuning.rst: escape regexp properly
  admin_manual/installation/server_tuning.rst
Labels: backport-request

#5187 Document Nextcloud 20 removed jQuery plugin(s)
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, enhancement

#5179 Recommend Ubuntu 20.04 instead of 18.04
  admin_manual/installation/system_requirements.rst
Labels: backport-request

#5185 Document two more deprecations in 20
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 4. to release, backport-request, enhancement

#5217 Change merge retry timeout to 60sec
  .github/workflows/transifex.yml
Labels: 3. to review, enhancement

#5222 Document deprecated getters of IServerContainer in 20
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, backport-request

#5230 Document CI and static analysis for apps
  developer_manual/digging_deeper/continuous_integration.rst
  developer_manual/digging_deeper/index.rst
Labels: 3. to review, enhancement, manual: developer

#5247 Fix spelling error in migrations
  developer_manual/basics/storage/migrations.rst
Labels: backport-request

#5249 Add admin occ app installation docs
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request, enhancement, manual: admin

#5264 Clarify on InnoDB file format
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: 3. to review, backport-request, enhancement

#5286 Mention cloning shipped apps in dev env
  developer_manual/getting_started/devenv.rst
Labels: 3. to review, enhancement

#5313 Document typed LDAP event for user and group backend and settings' BeforeTemplateRenderedEvent
  developer_manual/basics/events.rst
Labels: 3. to review, backport-request

#5315 Document subadmin events
  developer_manual/basics/events.rst
Labels: 3. to review
