Repository nextcloud/documentation, pull requests merged in 2020-01, with the labels that each got.

#1757 Cleanup installation manual
  admin_manual/configuration_database/linux_database_configuration.rst
  admin_manual/installation/example_centos.rst
  admin_manual/installation/example_ubuntu.rst
  admin_manual/installation/index.rst
  admin_manual/installation/php_72_installation.rst
  admin_manual/installation/source_installation.rst
Labels: 3. to review, manual: admin

#1748 admin_manual/installation/nginx: Added tip for allowing uploads while blocking dot files
  admin_manual/installation/nginx.rst
Labels: 3. to review, enhancement

#1458 Add a section "How to test ..."
  developer_manual/app/index.rst
  developer_manual/core/index.rst
  developer_manual/how_to/index.rst
Labels: 2. developing

#1759 Update ocs-api-overview.rst
  developer_manual/client_apis/OCS/ocs-api-overview.rst
Labels: 3. to review

#1629 specify needed phpunit version
  developer_manual/app/tutorial.rst
Labels: 2. developing

#1761 Update recommended DBs
  admin_manual/installation/system_requirements.rst
Labels: backport-request

#1725 add a section about GDPR relevant information
  admin_manual/contents.rst
  admin_manual/gdpr/cookies.rst
  admin_manual/gdpr/index.rst
Labels: 2. developing

#1769 Make the table great again
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request, bug

#1766 Add 18 manual
  index.html
Labels: 3. to review

#1781 Add a simple app upgrade guide from critical changes
  developer_manual/app/index.rst
  developer_manual/app/upgrade-guide.rst
Labels: 3. to review, backport-request, enhancement, manual: developer

#1780 Move hooks to events and enhance the docs a bit
  developer_manual/app/events.rst
  developer_manual/app/hooks.rst
  developer_manual/app/index.rst
Labels: 4. to release, backport-request

#1789 Add a comment about the changed ROW_FORMAT
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: 3. to review, backport-request, bug, manual: admin

#1792 Update readme instructions for Python 3
  README.rst
Labels: 3. to review

#1685 Add security considerations about oauth2 #1683
  admin_manual/configuration_server/oauth2.rst
Labels: 3. to review

#1779 Document (new) JS APIs
  developer_manual/app/index.rst
  developer_manual/app/javascript-apis.rst
Labels: 3. to review, manual: developer

#1800 Remove obsolete HOME and HTTP_HOME variables from Apache2 config
  admin_manual/installation/source_installation.rst
Labels: 3. to review, manual: admin

#1797 Some more polishing I should have done earlier (orthography, formatting)
  user_manual/pim/sync_thunderbird.rst
  user_manual_de/pim/sync_thunderbird.rst
Labels: 4. to release, enhancement
