Repository nextcloud/documentation, pull requests merged in 2021-07, with the labels that each got.

#6895 Recommend latest Python in readme
  README.rst
Labels: 3. to review

#6900 Document critical changes for devs and admins in Nextcloud 22
  admin_manual/configuration_server/email_configuration.rst
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/debugging.rst
Labels: 3. to review, backport-request, enhancement, manual: admin, manual: developer

#6898 Fix links from the request lifecycle to the app init docs
  developer_manual/basics/request_lifecycle.rst
Labels: 3. to review, backport-request, bug, manual: developer

#6906 Fix various client API docs issues
  developer_manual/client_apis/OCS/index.rst
  developer_manual/client_apis/WebDAV/comments.rst
  developer_manual/client_apis/WebDAV/index.rst
  developer_manual/client_apis/activity-api.rst
  developer_manual/client_apis/index.rst
Labels: 3. to review, backport-request, bug, manual: developer

#6907 Document moar critical changes in Nextcloud 22
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/psr.rst
Labels: 3. to review, backport-request, manual: developer

#6899 Drop deleted testing dir from digging deeper toc
  developer_manual/digging_deeper/index.rst
Labels: 3. to review, backport-request, manual: developer

#6911 Fix typo in json log format upgrade docs
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, backport-request

#6917 Document deprecation of scss compilation and vars
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, backport-request, manual: developer

#6897 Drop duplicate getting started page
  developer_manual/getting_started.rst
Labels: 3. to review, backport-request, bug, manual: developer

#6923 Drop emoji
  user_manual/talk/join_a_call_or_chat_as_guest.rst
  user_manual/talk/talk_basics.rst
Labels: 3. to review, backport-request, bug

#6930 Update linting documentation and workflow examples
  developer_manual/digging_deeper/continuous_integration.rst
  developer_manual/digging_deeper/npm.rst
Labels: 3. to review, enhancement

#6919 Fix dev manual inconsistencies
  developer_manual/basics/index.rst
  developer_manual/basics/request_lifecycle.rst
  developer_manual/core/index.rst
  developer_manual/getting_started/index.rst
  developer_manual/prologue/bugtracker/triaging.rst
  developer_manual/prologue/index.rst
Labels: 3. to review, backport-request, bug

#6896 Fix code review link
  developer_manual/prologue/bugtracker/codereviews.rst
  developer_manual/prologue/development_process.rst
Labels: 3. to review, backport-request, bug, manual: developer

#6938 Stable is 22
  admin_manual/release_schedule.rst
  conf.py
  index.html
Labels: 3. to review, enhancement

#6959 Remove IE 11 as supported browser
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request, enhancement

#6972 MariaDB 10.6 is not supported
  admin_manual/installation/system_requirements.rst
Labels: 3. to review

#7012 Add action to check for fixup commits
  .github/workflows/fixup.yml
Labels: 3. to review

#7016 Add workflow for fixup commits
  .github/workflows/fixup.yml
Labels: 3. to review, enhancement
