Repository nextcloud/documentation, pull requests merged in 2021-05, with the labels that each got.

#6095 Update Release Schedule + Minor fixes
  admin_manual/gdpr/index.rst
  admin_manual/groupware/calendar.rst
  admin_manual/index.rst
  admin_manual/maintenance/backup.rst
  admin_manual/release_schedule.rst
  index.html
Labels: 3. to review

#6630 Add WebAuthn 2fa note
  user_manual/user_2fa.rst
Labels: backport-request

#6683 Delete ellipsis
  user_manual/pim/calendar.rst
Labels: 4. to release, manual: user
