Repository nextcloud/documentation, pull requests merged in 2021-06, with the labels that each got.

#6764 Update log filed schema
  admin_manual/configuration_server/logging_configuration.rst
Labels: 3. to review, manual: admin

#6801 Extend legacy encryption scan docs
  admin_manual/configuration_files/encryption_migration.rst
Labels: 3. to review

#6863 add the note about 4 byte support
  admin_manual/maintenance/backup.rst
Labels: backport-request

#6867 Fix link to mysql 4byte docs
  admin_manual/maintenance/backup.rst
Labels: backport-request

#6872 Remove traces of migrations:generate-from-schema
  developer_manual/app_development/tutorial.rst
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/basics/storage/migrations.rst
Labels: 3. to review

#6743 Document calendar embed parameters
  user_manual/pim/calendar.rst
Labels: backport-request

#6874 Remove DB schema docs, add note for NC 22
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/basics/storage/index.rst
  developer_manual/basics/storage/schema.rst
Labels: 3. to review

#6360 [WIP] Dashboard API for clients
  developer_manual/digging_deeper/dashboard.rst
Labels: 2. developing, backport-request, enhancement, manual: developer

#6884 Add encryption hint about how to fix bad signature errors
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review
