Repository nextcloud/documentation, pull requests merged in 2021-09, with the labels that each got.

#7133 Improve dev manual warning counter
  developer_manual/basics/controllers.rst
  developer_manual/basics/events.rst
  developer_manual/digging_deeper/search.rst
Labels: 3. to review

#7134 Add option for incoming shares for transfer ownership
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request, pending documentation

#7141 Fix legacy routes like ajax.php on nginx
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: bug, 3. to review, manual: admin

#7145 [stable21] Fix legacy routes like ajax.php on nginx
  admin_manual/installation/nginx.rst
Labels: bug, 3. to review, backport-request

#7159 Add documentation for admin right privilege setting
  admin_manual/configuration_server/admin_delegation_configuration.rst
  admin_manual/configuration_server/images/admin-right.png
  admin_manual/configuration_server/index.rst
Labels: 3. to review
