Repository nextcloud/documentation, pull requests merged in 2021-08, with the labels that each got.

#7032 Recommend php8
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#7037 Document correct db transaction handling
  developer_manual/basics/storage/database.rst
Labels: bug, 3. to review, manual: developer

#7047 Update code examples
  developer_manual/app_development/tutorial.rst
  developer_manual/core/unit-testing.rst
Labels: bug, 3. to review
