Repository nextcloud/documentation, pull requests merged in 2021-03, with the labels that each got.

#6197 Clean up Caddy proxy example
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: backport-request

#6240 Remove "host to resolve" from the list of valid options for `trusted_proxies`
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: 3. to review

#6223 Update release_schedule.rst
  admin_manual/release_schedule.rst
Labels: 4. to release, backport-request

#6187 Small typos in user manual
  user_manual/files/sharing.rst
  user_manual/pim/sync_windows10.rst
  user_manual/webinterface.rst
Labels: backport-request

#6082 Add note about when to enable SSL
  admin_manual/configuration_database/linux_database_configuration.rst
Labels: backport-request

#6093 Update tutorial.rst
  developer_manual/app_development/tutorial.rst
Labels: backport-request

#6236 Fix typo
  admin_manual/configuration_files/external_storage/smb.rst
Labels: backport-request

#6219 add newline in reverse proxy docs
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: backport-request

#6092 Fix missing image in "federated_cloud_sharing.rst"
  user_manual/files/federated_cloud_sharing.rst
  user_manual/images/direct-share-1.png
Labels: 3. to review, backport-request, bug, regression

#6272 Change to server
  user_manual/session_management.rst
Labels: backport-request

#6292 Return of name
  user_manual/pim/sync_kde.rst
Labels: backport-request

#6304 Notes on using the Redis session handler
  admin_manual/configuration_server/caching_configuration.rst
Labels: backport-request

#6309 Add docs for getting the fields list
  admin_manual/configuration_user/instruction_set_for_users.rst
Labels: 3. to review, backport-request, bug, manual: admin

#6325 Update cipher defaults
  admin_manual/configuration_server/config_sample_php_parameters.rst
Labels: 3. to review, backport-request, waiting for code merge
