Repository nextcloud/documentation, pull requests merged in 2021-01, with the labels that each got.

#5852 Table-Prefix is not available anymore
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request, bug

#5830 Fix link to "Code reviews" page
  developer_manual/getting_started/codingguidelines.rst
Labels: 4. to release, backport-request, manual: developer

#5885 Fixed a typo in l10n docs
  developer_manual/basics/front-end/l10n.rst
Labels: 3. to review, backport-request

#5887 Fix another typo
  developer_manual/basics/backgroundjobs.rst
Labels: 3. to review, backport-request

#5904 documented log reader's occ commands + some cleanup in logging documentation
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request

#5908 Document change reg. Nextcloud 21 and php8
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/continuous_integration.rst
Labels: 3. to review, manual: developer

#5909 Fix Doctrine 3 upgrade docs
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, manual: developer

#5894 Caddyfile reverse_proxy example
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: backport-request

#5933 Update content.rst
  developer_manual/design/content.rst
Labels: backport-request

#5931 Fix upgrade info about the dbal type vs types class
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/basics/storage/migrations.rst
Labels: 3. to review

#5936 Add doc to migrate from OC 10.5 to NC 20.0
  admin_manual/configuration_server/background_jobs_configuration.rst
  admin_manual/maintenance/migrating_owncloud.rst
Labels: 3. to review

#5424 Make systemd not kill child processes of a cron job when it finishes
  admin_manual/configuration_server/background_jobs_configuration.rst
Labels: 4. to release, backport-request

#5951 [stable18] Make systemd not kill child processes of a cron job when it finishes
  admin_manual/configuration_server/background_jobs_configuration.rst
Labels: 3. to review

#5949 [stable20] Make systemd not kill child processes of a cron job when it finishes
  admin_manual/configuration_server/background_jobs_configuration.rst
Labels: 3. to review

#5853 Update example_ubuntu.rst
  admin_manual/installation/example_ubuntu.rst
Labels: backport-request

#5957 Update database/doctrine info with type and exception changes
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/basics/storage/migrations.rst
Labels: 3. to review, bug, manual: developer

#5968 Adjust the manual to MySQL 8 required
  admin_manual/configuration_database/linux_database_configuration.rst
  admin_manual/configuration_database/mysql_4byte_support.rst
  admin_manual/installation/server_tuning.rst
  admin_manual/installation/source_installation.rst
  admin_manual/installation/system_requirements.rst
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review

#5827 English documentation should not link to German versions of Thunderbird Add-on pages
  user_manual/pim/sync_thunderbird.rst
Labels: 4. to release, backport-request, manual: user

#6018 Change to lowercase
  user_manual/files/access_webdav.rst
Labels: backport-request

#6048 fixes php code in storage docs
  developer_manual/basics/storage/filesystem.rst
Labels: backport-request

#6050 Fixed sentence structure
  admin_manual/groupware/calendar.rst
Labels: backport-request

#6052 Update reverse_proxy_configuration.rst
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: backport-request

#6065 Add note about app passwords for webdav
  user_manual/files/access_webdav.rst
Labels: backport-request

#6078 Update reverse_proxy_configuration.rst to remove typo in Traefik config example.
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: backport-request
