Repository nextcloud/documentation, pull requests merged in 2021-12, with the labels that each got.

#7674 Update KDE Pim information
  user_manual/groupware/sync_kde.rst
  user_manual/images/KAddressBook.png
  user_manual/images/KDEPlasma.png
  user_manual/images/KOrganizer.png
  user_manual/images/KOrganizer_add_calendar.png
  user_manual/images/KOrganizer_groupware_server.png
  user_manual/images/KOrganizer_pick_resources.png
  user_manual/images/KOrganizer_server_address.png
  user_manual/images/Kalendar_add_calendar.png
  user_manual/images/kalendar_month_view.png
  user_manual/images/kalendar_resource_choice.png.png
  user_manual/images/korganizer_credentials.png
  user_manual/images/korganizer_resource_choice.png
Labels: 3. to review, manual: user

#7654 update schedule
  admin_manual/release_schedule.rst
Labels: 3. to review

#7733 20 is EOL
  index.html
Labels: 3. to review

#7765 Add note to share creation
  developer_manual/client_apis/OCS/ocs-share-api.rst
Labels: 3. to review

#7700 Fix image url
  user_manual/images/kalendar_resource_choice.png
Labels: backport-request, manual: user

#7673 Document user status API
  developer_manual/digging_deeper/dashboard.rst
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/status.rst
Labels: 3. to review, manual: developer

#7701 Add admin settings for the Calendar Trash bin
  admin_manual/groupware/calendar.rst
  user_manual/groupware/calendar.rst
Labels: backport-request

#7794 Add admin settings and user docs for the Calendar Trash bin
  admin_manual/groupware/calendar.rst
  user_manual/pim/calendar.rst
  user_manual/pim/images/calendar_trash_bin.png
Labels: 3. to review

#7796 Add documentation about OCP\Security\ITrustedDomainHelper
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/security.rst
Labels: 3. to review, backport-request, manual: developer

#7799 Add rewrites for nodeinfo and webfinger services.
  admin_manual/issues/general_troubleshooting.rst
Labels: backport-request

#7803 Add app upgrade guide for Nextcloud 23
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
  developer_manual/digging_deeper/groupware/calendar.rst
Labels: 3. to review, manual: developer

#7804 Add Nextcloud 24 app upgrade guide skeleton
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, manual: developer

#7816 Document SQL debugging for (app) devs
  developer_manual/digging_deeper/debugging.rst
Labels: 4. to release, manual: developer

#7822 Document the process of releasing an app updates as maintainer
  developer_manual/app_development/dependency_management.rst
  developer_manual/app_development/info.rst
  developer_manual/app_publishing_maintenance/code_signing.rst
  developer_manual/app_publishing_maintenance/index.rst
  developer_manual/app_publishing_maintenance/publishing.rst
  developer_manual/app_publishing_maintenance/release_process.rst
  developer_manual/digging_deeper/npm.rst
Labels: enhancement, 4. to release, manual: developer

#7648 admin_delegation_configuration.rst: Fix spelling of 'privilege'
  admin_manual/configuration_server/admin_delegation_configuration.rst
Labels: manual: admin

#7850 l10n: Corrected spelling of vCard
  user_manual/groupware/contacts.rst
Labels: 3. to review, manual: user

#7825 Removed old unavailable link
  developer_manual/getting_started/codingguidelines.rst
Labels: 3. to review, manual: developer

#7824 Documented "user:add-app-password" and "user:info"
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, manual: admin

#7852 Clarfication for trusted_domains section
  admin_manual/installation/installation_wizard.rst
Labels: 3. to review, manual: admin

#6970 occ command to reset bruteforce attempts
  admin_manual/configuration_server/occ_command.rst
Labels: 2. developing, manual: admin

#7860 Remove iconv from required PHP modules
  admin_manual/installation/source_installation.rst
Labels: 3. to review, manual: admin

#7879 There are no mailing lists
  developer_manual/getting_started/codingguidelines.rst
  developer_manual/prologue/bugtracker/triaging.rst
Labels: 3. to review, backport-request

#7880 Drop Kanban development process, rework common labels
  developer_manual/getting_started/codingguidelines.rst
  developer_manual/prologue/development_process.rst
  developer_manual/prologue/index.rst
Labels: 3. to review, backport-request, manual: developer

#7886 [stable22] Drop Kanban development process, rework common labels
  developer_manual/getting_started/codingguidelines.rst
  developer_manual/prologue/development_process.rst
  developer_manual/prologue/index.rst
Labels: 3. to review, backport-request
