Repository nextcloud/documentation, pull requests merged in 2021-04, with the labels that each got.

#6221 Fix Nginx .well-known redirects
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
  admin_manual/installation/nginx.rst
Labels: 3. to review, bug, manual: admin

#6364 Add docs for patching an instance
  admin_manual/issues/applying_patch.rst
  admin_manual/issues/images/getting-a-patch-from-github.png
  admin_manual/issues/index.rst
Labels: 3. to review, enhancement

#6365 Fix "An Nextcloud" typo
  admin_manual/configuration_database/linux_database_configuration.rst
Labels: backport-request

#6367 Fix typos
  admin_manual/configuration_server/language_configuration.rst
Labels: backport-request

#6382 explained log fields
  admin_manual/configuration_server/logging_configuration.rst
Labels: backport-request

#6394 Add page for Universal access
  user_manual/contents.rst
  user_manual/universal_access.rst
Labels: 3. to review, backport-request, design, enhancement

#6433 Remove left and right specifiers because it differs for RTL languages
  user_manual/universal_access.rst
Labels: 3. to review, backport-request, design, enhancement

#6001 Add documentation for release automation via GitHub actions
  .gitignore
  developer_manual/app_publishing_maintenance/index.rst
  developer_manual/app_publishing_maintenance/release_automation.rst
Labels: 2. developing, manual: developer

#6469 Add basic documentation for multibucket object store
  admin_manual/configuration_files/primary_storage.rst
Labels: backport-request
