Repository nextcloud/documentation, pull requests merged in 2021-11, with the labels that each got.

#7470 Use --data-binary opton when shoing chunked upload with curl
  developer_manual/client_apis/WebDAV/chunking.rst
Labels: bug, 3. to review

#7523 Document calendar resources and rooms for admins
  admin_manual/groupware/calendar.rst
Labels: enhancement, 3. to review, backport-request

#7525 Document calendar rooms and resources for users
  user_manual/pim/calendar.rst
Labels: enhancement, 3. to review, backport-request

#7554 Add dev docs for the calendar providers API in Nextcloud 23
  developer_manual/digging_deeper/groupware/calendar.rst
Labels: enhancement, 3. to review, manual: developer

#7558 Document calendar access and search APIs
  developer_manual/digging_deeper/groupware/calendar.rst
Labels: 3. to review, manual: developer

#7565 mark 20 EOL
  conf.py
Labels: 3. to review

#7576 Document how to override the log level with occ
  admin_manual/configuration_server/logging_configuration.rst
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request, manual: admin

#7577 Fix typo in admin audit log docs
  admin_manual/configuration_server/logging_configuration.rst
Labels: bug, 3. to review, backport-request, manual: admin

#7585 Allow to serve static WebAssembly and TensorFlow Lite files
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: bug, 3. to review, backport-request

#7588 Add CentOS Stream to supported OS
  admin_manual/installation/system_requirements.rst
Labels: 3. to review

#7606 Transfer incoming shares
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request, manual: admin

#7633 Rename pim to groupware
  user_manual/contents.rst
  user_manual/groupware/calendar.rst
  user_manual/groupware/contacts.rst
  user_manual/groupware/images/calendar_application.png
  user_manual/groupware/images/calendar_create.gif
  user_manual/groupware/images/calendar_dropdown.png
  user_manual/groupware/images/calendar_editing.png
  user_manual/groupware/images/calendar_event_invitation_level.png
  user_manual/groupware/images/calendar_event_menu.png
  user_manual/groupware/images/calendar_event_reminders.png
  user_manual/groupware/images/calendar_event_repeat.png
  user_manual/groupware/images/calendar_new-event_month.gif
  user_manual/groupware/images/calendar_new-event_week.gif
  user_manual/groupware/images/calendar_settings.png
  user_manual/groupware/images/macos_1.png
  user_manual/groupware/images/macos_2.png
  user_manual/groupware/images/macos_3.png
  user_manual/groupware/images/macos_4.png
  user_manual/groupware/index.rst
  user_manual/groupware/sync_android.rst
  user_manual/groupware/sync_gnome.rst
  user_manual/groupware/sync_ios.rst
  user_manual/groupware/sync_kde.rst
  user_manual/groupware/sync_osx.rst
  user_manual/groupware/sync_thunderbird.rst
  user_manual/groupware/sync_windows10.rst
Labels: 3. to review, backport-request

#7607 Add Calendar appointments doc for users
  user_manual/groupware/calendar.rst
Labels: enhancement, 3. to review, backport-request, manual: user

#7632 Document CalDAV availability settings for users
  user_manual/groupware/calendar.rst
  user_manual/groupware/images/caldav_availability.png
Labels: enhancement, 3. to review, backport-request, manual: user

#7652 Update Calendar user docs for Nextcloud 23 / Calendar 3
  user_manual/groupware/calendar.rst
  user_manual/groupware/images/calendar_application.png
  user_manual/groupware/images/calendar_create.gif
  user_manual/groupware/images/calendar_create_1.png
  user_manual/groupware/images/calendar_create_2.png
  user_manual/groupware/images/calendar_dropdown.png
  user_manual/groupware/images/calendar_editing.png
  user_manual/groupware/images/calendar_event_invitation_level.png
  user_manual/groupware/images/calendar_event_menu.png
  user_manual/groupware/images/calendar_event_reminders.png
  user_manual/groupware/images/calendar_event_repeat.png
  user_manual/groupware/images/calendar_new-event_month.gif
  user_manual/groupware/images/calendar_new-event_month.png
  user_manual/groupware/images/calendar_new-event_week.gif
  user_manual/groupware/images/calendar_new-event_week.png
  user_manual/groupware/images/calendar_settings.png
  user_manual/groupware/images/calendar_trash_bin.png
Labels: enhancement, 3. to review, backport-request
