Repository nextcloud/documentation, pull requests merged in 2022-03, with the labels that each got.

#8106 Add section about activities in external storages
  admin_manual/configuration_server/activity_configuration.rst
Labels: 3. to review, backport-request

#8115 update hideDownload documentation
  user_manual/files/sharing.rst
Labels: enhancement, 3. to review, backport-request

#8120 Add dev docs for projects
  developer_manual/digging_deeper/projects.rst
Labels: 3. to review

#8119 Remove meaningless note regarding "testEcho" from tutorial
  developer_manual/app_development/tutorial.rst
Labels: 4. to release

#8129 Document Calendar default alarm type for admins
  admin_manual/groupware/calendar.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#8135 Rename Calendar downloads to exports in the user manual
  user_manual/groupware/calendar.rst
  user_manual/groupware/images/calendar_dropdown.png
  user_manual/groupware/images/calendar_editing.png
Labels: enhancement, 3. to review, backport-request

#8121 Add documentation for preview hpb with Imaginary
  admin_manual/installation/server_tuning.rst
Labels: 3. to review

#8140 Add contained-folder-count and contained-file-count webdav props
  developer_manual/client_apis/WebDAV/basic.rst
Labels: 3. to review, waiting for code merge, manual: developer

#7036 Document client login flow login name mismatch
  developer_manual/client_apis/LoginFlow/index.rst
Labels: 3. to review, backport-request

#8139 Document database requirements and specialties
  developer_manual/basics/storage/database.rst
Labels: enhancement, 3. to review, manual: developer

#8141 Document profile configuration options for admins
  admin_manual/configuration_user/index.rst
  admin_manual/configuration_user/profile_configuration.rst
  admin_manual/images/profile_default_setting.png
Labels: 3. to review, backport-request, manual: admin

#8165 Give some pointers for the PHP8.1 support for apps
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_24.rst
Labels: 4. to release, manual: developer

#8168 Adjust PHP requirements for 24
  admin_manual/installation/system_requirements.rst
Labels: 3. to review

#8167 add a note how to install beta apps releases
  admin_manual/apps_management.rst
Labels: enhancement, 3. to review, backport-request
