Repository nextcloud/documentation, pull requests merged in 2022-01, with the labels that each got.

#7888 Usage of env settings in package.json
  developer_manual/digging_deeper/npm.rst
Labels: manual: developer, standardisation, dependencies

#7417 [stable21] Fix PHP's rewrite rule in NGINX subdir example
  admin_manual/installation/nginx.rst
Labels: 3. to review, backport-request

#7945 Update talk screenshares part2
  user_manual/talk/images/add-participants.png
  user_manual/talk/images/call-settings.png
  user_manual/talk/images/chat-message-menu.png
  user_manual/talk/images/chat-room-settings.png
  user_manual/talk/images/chat-with-one-user.png
  user_manual/talk/images/creating-group-room.png
  user_manual/talk/images/drag-and-drop.png
  user_manual/talk/images/emoji-picker.png
  user_manual/talk/images/join-call.png
  user_manual/talk/images/new-room.png
  user_manual/talk/images/open-settings.png
  user_manual/talk/images/participant-menu.png
  user_manual/talk/images/share-files-in-chat-selection.png
  user_manual/talk/images/share-files-in-chat.png
  user_manual/talk/images/talk-settings.png
  user_manual/talk/images/talk-upload-files.png
  user_manual/talk/talk_basics.rst
Labels: bug, 3. to review

#7947 Update talk screenshot in advanced features
  user_manual/talk/advanced_features.rst
  user_manual/talk/images/command-help.png
  user_manual/talk/images/deck-talk-create-card-dialog.png
  user_manual/talk/images/deck-talk-create-card-menu.png
  user_manual/talk/images/deck-talk-share-card-to-chat-in-talk.png
  user_manual/talk/images/deck-talk-share-card-to-chat-menu.png
  user_manual/talk/images/lobby-in-talk.png
  user_manual/talk/images/matterbridge-settings.png
  user_manual/talk/index.rst
Labels: bug, 3. to review, backport-request

#7964 Document the syslog_tag as well
  admin_manual/configuration_server/logging_configuration.rst
Labels: bug, 3. to review, backport-request

#7859 Update OPcache documentation
  admin_manual/installation/server_tuning.rst
Labels: 3. to review, backport-request, manual: admin

#7961 fix: Update links to calendar, contacts & sync_gnome doc (pim -> groupware)
  go.php
  user_manual/files/access_webdav.rst
Labels: backport-request

#6333 Document primary object storage breaking SSE
  admin_manual/configuration_files/primary_storage.rst
Labels: 4. to release, manual: admin

#7979 Ensure that nginx config sample allow downloading big file
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: 3. to review
