Repository nextcloud/documentation, pull requests merged in 2022-04, with the labels that each got.

#8174 Document the string length issue
  developer_manual/basics/storage/database.rst
Labels: bug, 3. to review

#7871 Nextcloud Office documentation
  admin_manual/contents.rst
  admin_manual/images/office.png
  admin_manual/office/configuration.rst
  admin_manual/office/example-docker.rst
  admin_manual/office/example-ubuntu.rst
  admin_manual/office/index.rst
  admin_manual/office/installation.rst
  admin_manual/office/migration.rst
  admin_manual/office/proxy.rst
  admin_manual/office/troubleshooting.rst
Labels: enhancement, 3. to review

#8173 Remove link to dead owncloud forum
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, technical debt

#8171 Update supported web browsers
  user_manual/webinterface.rst
Labels: bug, 3. to review, backport-request

#8134 emphasize that debug mode is required
  developer_manual/basics/storage/migrations.rst
Labels: 4. to release, manual: developer, missing_dco

#8200 Remove link to non-existing android documentation
  user_manual/index.rst
Labels: 3. to review, manual: user, client: 🤖🍏 mobile

#6711 corrects a sentence in search.rst
  developer_manual/digging_deeper/search.rst
Labels: 4. to release, missing_dco

#8187 Update two_factor-auth.rst
  admin_manual/configuration_user/two_factor-auth.rst
Labels: manual: developer, missing_dco

#8209 Add warnings about scaling issues with ajax and webcron
  admin_manual/configuration_server/background_jobs_configuration.rst
Labels: bug, 3. to review, backport-request, manual: admin

#8193 Document user migration API
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/user_migration.rst
Labels: 4. to release, backport-request, manual: developer

#8216 Fix appdata url
  developer_manual/basics/storage/filesystem.rst
Labels: bug, 3. to review, backport-request

#8215 handle the release schedule only in the Github wiki
  admin_manual/release_schedule.rst
Labels: enhancement, 3. to review

#8223 Updating command-rebase.yml workflow from template
  .github/workflows/command-rebase.yml
Labels: 3. to review, dependencies
