Repository nextcloud/documentation, pull requests merged in 2022-12, with the labels that each got.

#9390 Updated link to WebDAV FAQ on OwnCloud forum
  admin_manual/issues/general_troubleshooting.rst
Labels: manual: admin

#9467 Warn about the changed errorlog message prefix
  admin_manual/configuration_server/logging_configuration.rst
Labels: 3. to review, manual: admin

#9469 23 is EOL
  conf.py
  index.html
Labels: 4. to release

#9397 Add NextcloudPi to automated install options
  admin_manual/installation/source_installation.rst
Labels: backport-request, manual: admin

#9061 reverse proxy: add info about overwrite.cli.url
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: 3. to review

#9473 More clear wording (and tipo remove)
  admin_manual/installation/source_installation.rst
Labels: backport-request

#9485 Fix Deployment recommendations link (gives 404)
  admin_manual/installation/deployment_recommendations.rst
Labels: backport-request

#9413 Adapt session handling description to changes in Nextcloud 25
  developer_manual/basics/controllers.rst
Labels: backport-request

#9392 lowercase instead of uppercase, colon instead of comma
  admin_manual/maintenance/package_upgrade.rst
Labels: backport-request, manual: admin

#8929 Correct name for mentioned symbol
  user_manual/groupware/sync_windows10.rst
Labels: manual: user

#7944 Fix traefik v1 example
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: bug, 3. to review, manual: admin

#9484 Explicit path and backup instruction
  admin_manual/configuration_files/previews_configuration.rst
Labels: backport-request

#9394 document azure primary storage
  admin_manual/configuration_files/primary_storage.rst
Labels: enhancement, 3. to review, backport-request

#8189 Clarification on permisions for the Redis socket
  admin_manual/configuration_server/caching_configuration.rst
Labels: 2. developing, manual: admin
