Repository nextcloud/documentation, pull requests merged in 2022-06, with the labels that each got.

#8464 Add some notes that pcntl functions might be disabled
  admin_manual/installation/source_installation.rst
Labels: 4. to release

#7831 Create build artifacts in Github Actions
  .github/workflows/sphinxbuild.yml
Labels: 3. to review

#8453 Add documentation for accepting calendar invitations
  user_manual/groupware/calendar.rst
  user_manual/groupware/images/calendar_accept_sidebar_editor.png
  user_manual/groupware/images/calendar_accept_simple_editor.png
Labels: enhancement, 3. to review, backport-request, manual: user

#8495 Explain how to add several IDelegatedSettings in the key "settings"
  developer_manual/basics/setting.rst
Labels: manual: developer, php

#8525 Document logger function in dev manual
  developer_manual/basics/logging.rst
Labels: 3. to review, manual: developer

#8537 add a hint how to adjust the imagick policy for pdf files
  admin_manual/installation/source_installation.rst
Labels: enhancement, 3. to review

#8539 Drop links to unofficial twofactor_admin app
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
Labels: 3. to review, backport-request, manual: admin

#8536 Updating command-rebase.yml workflow from template
  .github/workflows/command-rebase.yml
Labels: dependencies

#8557 Update ocs-status-api.rst table rows to display properly
  developer_manual/client_apis/OCS/ocs-status-api.rst
Labels: backport-request

#8578 removed wrong leading underscore from link
  user_manual/groupware/sync_ios.rst
Labels: backport-request
