Repository nextcloud/documentation, pull requests merged in 2022-08, with the labels that each got.

#9042 Add dependabot
  .github/dependabot.yml
Labels: 3. to review, dependencies

#8070 Adapt webdav search examples
  developer_manual/client_apis/WebDAV/search.rst
Labels: 3. to review, manual: developer

#6748 Remove nonexistent event
  developer_manual/basics/events.rst
Labels: bug, 4. to release, manual: developer, missing_dco

#6730 Update version_control.rst
  user_manual/files/version_control.rst
Labels: 4. to release, manual: user, missing_dco

#8585 App name is Contacs (plural)
  user_manual/groupware/contacts.rst
Labels: 4. to release

#7877 add description of new OCS endpoint
  developer_manual/client_apis/OCS/index.rst
  developer_manual/client_apis/OCS/ocs-recommendations-api.rst
Labels: enhancement, 4. to release, manual: developer

#8020 Add documentation for developping an existing app
  developer_manual/app_development/intro.rst
Labels: 4. to release, manual: developer

#9136 Document scss support drop
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_25.rst
Labels: 3. to review
