Repository nextcloud/documentation, pull requests merged in 2022-02, with the labels that each got.

#7999 Document profile actions API
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/profile.rst
Labels: 4. to release, manual: developer

#8004 Add Talk OCP docs to dev manual
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/talk.rst
Labels: 3. to review, manual: developer

#7984 Document syslog option for the admin audit app
  admin_manual/configuration_server/logging_configuration.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#8014 Warn about disabling encryption without decrypting all the files
  admin_manual/configuration_files/encryption_configuration.rst
Labels: 3. to review

#8027 Add documentation for cache control immutable
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: 4. to release, manual: admin

#8028 Add space as allowed user id character
  admin_manual/configuration_user/user_configuration.rst
Labels: bug, 3. to review, backport-request, manual: admin

#8035 update release information
  admin_manual/release_schedule.rst
  conf.py
Labels: 4. to release, backport-request

#8042 Add doc to connect to Redis over TLS
  admin_manual/configuration_server/caching_configuration.rst
Labels: enhancement, 3. to review

#7851 Update configuration.rst, mention HintException
  developer_manual/basics/storage/configuration.rst
Labels: 3. to review, manual: developer

#8048 Document TTransactional for developers
  developer_manual/basics/storage/database.rst
Labels: enhancement, 3. to review, manual: developer

#8078 Add docs for occ theming:config
  admin_manual/configuration_server/theming.rst
Labels: 3. to review, backport-request, manual: admin

#8088 Fix "Malformed table."
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review

#8019 Update misleading/incorrect nouns in admin manual
  admin_manual/configuration_database/db_conversion.rst
  admin_manual/configuration_files/external_storage/smb.rst
  admin_manual/configuration_files/file_sharing_configuration.rst
Labels: 4. to release

#8002 Add missing comma in user manual
  user_manual/files/access_webdav.rst
Labels: 4. to release

#8087 Background job maintenance window
  admin_manual/configuration_server/background_jobs_configuration.rst
  developer_manual/basics/backgroundjobs.rst
Labels: enhancement, 3. to review, manual: admin, manual: developer

#8092 Add @publicpage to get() method tags
  developer_manual/digging_deeper/publicpage.rst
Labels: 3. to review, manual: developer

#6955 Reorder nginx config sample
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: enhancement, 3. to review, manual: admin

#8097 [stable22] Add mapfile serving for nginx conf examples
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: bug, 3. to review

#8098 [stable21] Add mapfile serving for nginx conf examples
  admin_manual/installation/nginx.rst
Labels: bug, 3. to review

#8026 Remove duplicate flag for authentication
  developer_manual/client_apis/WebDAV/search.rst
Labels: 4. to release

#8099 Fix transaction method name
  developer_manual/basics/storage/database.rst
Labels: bug, 3. to review

#7878 Update email_configuration.rst
  admin_manual/configuration_server/email_configuration.rst
Labels: 4. to release

#8018 Fix grammatical & spelling errors in admin manual
  admin_manual/configuration_files/encryption_configuration.rst
  admin_manual/configuration_user/instruction_set_for_apps.rst
  admin_manual/issues/general_troubleshooting.rst
Labels: 4. to release

#7534 Added example for WebDAV search by last updated time
  developer_manual/client_apis/WebDAV/search.rst
Labels: 4. to release

#8104 Fix broken link in user manual
  user_manual/files/access_webdav.rst
Labels: 4. to release

#8084 Add doc about dry-run option for add-missing-* cmd
  admin_manual/maintenance/upgrade.rst
Labels: 3. to review, manual: admin
