Repository nextcloud/documentation, pull requests merged in 2022-09, with the labels that each got.

#9137 Add information that the app is enabled in OCS Apps API result
  admin_manual/configuration_user/instruction_set_for_apps.rst
Labels: 3. to review, manual: admin

#9142 Make text more explicit regarding the pre-release process
  developer_manual/app_publishing_maintenance/release_process.rst
Labels: enhancement, 3. to review

#9149 Improve migration docs
  developer_manual/basics/storage/migrations.rst
Labels: enhancement, 3. to review

#9167 Document disabled keyboard shortcuts
  developer_manual/basics/front-end/js.rst
  developer_manual/design/layoutcomponents.rst
Labels: enhancement, 3. to review, manual: developer

#9170 Improve docs for transfer ownership
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review

#9172 Update system requirements
  admin_manual/installation/system_requirements.rst
Labels: 3. to review

#9171 document Apache timeout limits
  admin_manual/configuration_files/big_file_upload_configuration.rst
Labels: enhancement, 3. to review

#9169 Update link to Desktop Client manual
  user_manual/files/desktop_mobile_sync.rst
Labels: enhancement, 3. to review

#9173 Fix documentation links for Nextcloud 15
  index.html
Labels: bug, 3. to review

#9185 update app list in accordance wiht bundling state of NC 25
  admin_manual/installation/apps_supported.rst
Labels: bug, 3. to review, backport-request

#9189 Document maintenance mode header
  developer_manual/client_apis/general.rst
  developer_manual/client_apis/index.rst
  developer_manual/digging_deeper/rest_apis.rst
Labels: enhancement, 3. to review, backport-request, manual: developer
