Repository nextcloud/documentation, pull requests merged in 2022-11, with the labels that each got.

#9260 Add developer documentation for the HTTP client
  developer_manual/digging_deeper/http_client.rst
  developer_manual/digging_deeper/index.rst
Labels: enhancement, 4. to release, backport-request, manual: developer

#9274 64-bit is required for NC26
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#9280 Document the IConditionalWidget dashboard interface
  developer_manual/digging_deeper/dashboard.rst
Labels: enhancement, 3. to review, manual: developer

#9259 Document remote host validation for app devs
  developer_manual/digging_deeper/security.rst
Labels: 3. to review

#9281 Update DI parameters, aliases and services documentation
  developer_manual/basics/dependency_injection.rst
Labels: 3. to review, backport-request, manual: developer

#9285 Document deprecation of pascal case DI container parameters
  developer_manual/app_development/tutorial.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_26.rst
  developer_manual/basics/controllers.rst
  developer_manual/basics/dependency_injection.rst
  developer_manual/basics/storage/configuration.rst
Labels: enhancement, 3. to review, manual: developer

#9269 Document iMIP API change for 26
  developer_manual/digging_deeper/groupware/calendar.rst
Labels: 3. to review, manual: developer, php

#9257 update the link to available language codes
  admin_manual/configuration_server/language_configuration.rst
Labels: bug, 3. to review, backport-request, manual: admin

#9297 Update Debian and openSUSE versions in sys reqs
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#9296 Document "christophwurst/nextcloud replacement" and "Disabled keyboar…
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_25.rst
  developer_manual/basics/front-end/js.rst
Labels: 3. to review, backport-request

#9299 Update CI templates and add more links
  developer_manual/digging_deeper/continuous_integration.rst
Labels: bug, 3. to review

#9283 Add table management tips for developers
  developer_manual/basics/storage/database.rst
Labels: 2. developing

#9304 Add new contact screenshots on documentation
  user_manual/images/contact_address_book_add.png
  user_manual/images/contact_bottombar.png
  user_manual/images/contact_del_ab.png
  user_manual/images/contact_manageaddressbook.png
  user_manual/images/contact_new.png
  user_manual/images/contact_picture.png
  user_manual/images/contact_picture_options.png
  user_manual/images/contact_picture_set.png
  user_manual/images/contact_uploadbutton.png
  user_manual/images/contacts_empty.png
  user_manual/images/contacts_link.png
Labels: 3. to review

#9305 Frontpage update - Split documentation for master and stable 25
  conf.py
  index.html
Labels: bug, 3. to review

#9309 Document `IFactory::getUserLanguage()`
  developer_manual/basics/front-end/l10n.rst
Labels: enhancement, 3. to review, backport-request, manual: developer

#9311 Document datetime support for the Entity class
  developer_manual/basics/storage/database.rst
Labels: enhancement, 3. to review, backport-request, manual: developer

#9319 Document the AutoCompleteEvent event
  developer_manual/client_apis/OCS/ocs-api-overview.rst
Labels: enhancement, 3. to review, manual: developer

#9324 Fix missing 25 split
  admin_manual/apps_management.rst
  admin_manual/configuration_files/big_file_upload_configuration.rst
  admin_manual/configuration_files/encryption_details.rst
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
  admin_manual/index.rst
  admin_manual/issues/general_troubleshooting.rst
  admin_manual/release_schedule.rst
  developer_manual/basics/logging.rst
  developer_manual/basics/setting.rst
  developer_manual/client_apis/OCS/ocs-share-api.rst
  developer_manual/getting_started/devenv.rst
  user_manual/external_storage/external_storage.rst
  user_manual/files/access_webdav.rst
  user_manual/files/deleted_file_management.rst
  user_manual/files/encrypting_files.rst
  user_manual/files/large_file_upload.rst
  user_manual/files/quota.rst
  user_manual/files/sharing.rst
  user_manual/files/transfer_ownership.rst
  user_manual/groupware/sync_gnome.rst
  user_manual/groupware/sync_ios.rst
  user_manual/groupware/sync_kde.rst
  user_manual/groupware/sync_osx.rst
Labels: bug, 3. to review

#9332 Document behavior changes of dbal 3.0 to 3.1 upgrade
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_23.rst
Labels: 3. to review, backport-request, manual: developer

#9331 Document GenericEvent deprecation in Nextcloud 22
  developer_manual/basics/events.rst
Labels: 3. to review, backport-request, manual: developer

#9286 Add office secure-view settings documentation
  admin_manual/office/configuration.rst
Labels: enhancement, 3. to review

#9329 Fix min PHP7.4 in Nextcloud 24
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_24.rst
Labels: 3. to review, backport-request, manual: developer

#9327 add postgres 15
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#9341 [stable23] Document behavior changes of dbal 3.0 to 3.1 upgrade
  developer_manual/app_publishing_maintenance/upgrade-guide.rst
Labels: 3. to review, manual: developer

#9345 Document app bootstrap boot and injectFn
  developer_manual/app_development/bootstrap.rst
Labels: 3. to review, backport-request, manual: developer

#9350 Use deprecated directive instead of note
  developer_manual/basics/events.rst
  developer_manual/basics/storage/database.rst
Labels: 3. to review, backport-request, manual: developer

#9355 Use captions to better highlight codeblock file names
  developer_manual/app_development/bootstrap.rst
  developer_manual/app_development/info.rst
  developer_manual/basics/storage/database.rst
Labels: enhancement, 3. to review, manual: developer

#9357 Document that the PHP extension `fileinfo` is required
  admin_manual/installation/source_installation.rst
Labels: 3. to review, backport-request, manual: admin

#9359 Document when to use the NoTwoFactorRequired annotation
  developer_manual/basics/controllers.rst
Labels: 3. to review, backport-request, manual: developer

#9358 Document versions of the PSR packages
  developer_manual/digging_deeper/psr.rst
Labels: 3. to review, backport-request, manual: developer

#9366 Document that Nextcloud does not ship a Babel Polyfill anymore
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_19.rst
Labels: 3. to review, backport-request, manual: developer

#9351 Use versionadded directive for added OCP events
  developer_manual/basics/events.rst
Labels: enhancement, 3. to review, backport-request

#9374 [stable25] add mariadb10.6
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#9381 Add build instructions for PDF
  README.rst
Labels: 3. to review

#9382 Fix syntax issues and dead links
  admin_manual/configuration_files/external_storage/auth_mechanisms.rst
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/installation/source_installation.rst
  admin_manual/office/example-docker.rst
  developer_manual/digging_deeper/projects.rst
  user_manual/groupware/sync_thunderbird.rst
Labels: bug, 3. to review, backport-request

#9408 Fix browsers requirements
  user_manual/webinterface.rst
Labels: 3. to review

#9404 future-proof link to desktop client docs
  admin_manual/configuration_files/big_file_upload_configuration.rst
Labels: backport-request

#9388 fix bugtracker link
  admin_manual/issues/general_troubleshooting.rst
Labels: backport-request

#9402 Fix formating
  admin_manual/configuration_server/config_sample_php_parameters.rst
Labels: backport-request

#9321 Add description to disable av background scan
  admin_manual/configuration_server/antivirus_configuration.rst
Labels: enhancement, 3. to review, backport-request

#9424 Update instructions for upgrading from ownCloud 10.11
  admin_manual/maintenance/manual_upgrade.rst
  admin_manual/maintenance/migrating_owncloud.rst
Labels: backport-request

#9373 Improve documentation around Imaginary
  admin_manual/installation/server_tuning.rst
Labels: enhancement, 3. to review, backport-request, manual: admin, blocked
