Repository nextcloud/documentation, pull requests merged in 2023-12, with the labels that each got.

#11273 enh(dev/TextProcessing): Add docs for IProviderWithUserId, IProviderWithExpectedRuntime and Imanager#runOrSchedule
  developer_manual/digging_deeper/text_processing.rst
Labels: 3. to review, backport-request

#11339 fix(developer): Mention state-of-the-art exclusion of unneeded files
  developer_manual/app_development/dependency_management.rst
Labels: bug, 3. to review, backport-request, manual: developer

#11226 feat(devmanual): Contacts menu bulk providers
  developer_manual/digging_deeper/groupware/contacts_menu.rst
Labels: 3. to review, backport-request, manual: developer

#11093 docs: add repair-filecache when mimetype has been updated
  admin_manual/configuration_mimetypes/index.rst
Labels: 2. developing, manual: admin

#11317 Add OpenAPI workflow to confirm it's working
  .github/workflows/openapi.yml
Labels: bug, 3. to review, backport-request, manual: developer

#11358 feat(usermanual): Change mailboxes sort order
  user_manual/groupware/mail.rst
Labels: 4. to release, backport-request, manual: user, feature: mail app

#11367 feat(developer): document the new out-of-office feature
  developer_manual/client_apis/OCS/index.rst
  developer_manual/client_apis/OCS/ocs-out-of-office-api.rst
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/out_of_office.rst
Labels: 4. to release, backport-request, manual: developer

#11370 feat(admin): document the new out-of-office feature
  admin_manual/groupware/index.rst
  admin_manual/groupware/out_of_office.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#11369 Enh/issue templates: Add a basic improvements suggestion template + add link to community help forum on issue chooser
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/improvement_suggestion.md
Labels: enhancement, 3. to review, meta

#11374 Correct the version of owncloud allowing migration
  admin_manual/maintenance/migrating_owncloud.rst
Labels: backport-request

#11381 Create block-merge-freeze.yml
  .github/workflows/block-merge-freeze.yml
Labels: 3. to review, backport-request

#11405 enh(userstatus): set user status to 'In a meeting' if calendar is busy
  user_manual/groupware/calendar.rst
Labels: 3. to review, backport-request, blocked

#11407 enh(admin_manual/ai): Add context_chat
  admin_manual/ai/index.rst
Labels: 3. to review, backport-request
