Repository nextcloud/documentation, pull requests merged in 2023-01, with the labels that each got.

#9501 Adjust ROW_FORMAT note to changes in Nextcloud 24
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: bug, 3. to review, backport-request, manual: admin

#9510 Improve UTF8 manual with older DB versions
  admin_manual/configuration_database/mysql_4byte_support.rst
Labels: bug, 3. to review

#9518 Add share attributes documentation in OCS Share API
  developer_manual/client_apis/OCS/ocs-share-api.rst
Labels: backport-request

#9521 Add doc for occ trashbin:restore command
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request

#9524 Add troubleshooting section about NFD file encoding
  admin_manual/configuration_server/occ_command.rst
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, backport-request

#9525 Add howto sections for testing S3 and email
  developer_manual/how_to/index.rst
Labels: 3. to review, backport-request

#9517 Add missing comma
  admin_manual/configuration_user/profile_configuration.rst
Labels: 3. to review

#9532 Update Service Discovery example for Caddy …
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: backport-request

#9396 Update Deployment recommendations link
  admin_manual/installation/deployment_recommendations.rst
Labels: backport-request

#9542 fix: pin sphinx-rtd-theme to fix missing jquery lib
  Pipfile
Labels: bug, 3. to review, regression, dependencies

#9225 Complete workflow development documentation
  developer_manual/digging_deeper/flow.rst
Labels: 3. to review

#9552 [stable23] Fix missing jquery - take 2 (requirements.txt)
  requirements.txt
Labels: bug, 3. to review

#9553 feat(dev-manual): Warn about the upcoming PSR-0 class loader removal
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_26.rst
  developer_manual/digging_deeper/psr.rst
Labels: 3. to review, manual: developer

#9554 docs: mention IResponse's getBody(), slash when catching Exception
  developer_manual/digging_deeper/http_client.rst
Labels: 4. to release, backport-request

#9528 Add info to fix encryption key issues
  admin_manual/configuration_files/encryption_configuration.rst
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, backport-request

#9356 Do not require a PHP start tag for syntax highlighting
  developer_manual/basics/dependency_injection.rst
  developer_manual/conf.py
Labels: enhancement, 3. to review, manual: developer

#9509 Add file:repair-tree documentation
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request

#9566 Add section for troubleshooting quota issues
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, backport-request

#9560 feat(dev-manual): Document DI for controller methods
  developer_manual/basics/dependency_injection.rst
Labels: 3. to review, manual: developer

#9573 feat(dev-manual): Document performance optimizations with class loaders
  developer_manual/digging_deeper/classloader.rst
  developer_manual/digging_deeper/performance.rst
Labels: enhancement, 3. to review, manual: developer

#9576 Fix missing title formating
  admin_manual/office/configuration.rst
Labels: bug, 4. to release, manual: admin

#9585 fix(dev-manual): Update middleware docs to state of the art
  developer_manual/basics/middlewares.rst
Labels: bug, 3. to review, backport-request, manual: developer

#9569 Add docs for defaultTemplateDirectory app config
  admin_manual/configuration_files/default_files_configuration.rst
Labels: 3. to review, waiting for code merge, manual: admin

#9588 feat(dev-manual): Document global middleware registration
  developer_manual/basics/middlewares.rst
Labels: 3. to review, manual: developer

#9589 feat(dev-manual): Document UseSession attribute
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_26.rst
  developer_manual/basics/controllers.rst
Labels: 3. to review, manual: developer
