Repository nextcloud/documentation, pull requests merged in 2023-08, with the labels that each got.

#10858 fix(developer): Update event list with changes from Symfony EventDisp…
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_28.rst
  developer_manual/basics/events.rst
Labels: bug, 3. to review, manual: developer

#10062 Update access_webdav.rst
  user_manual/files/access_webdav.rst
Labels: manual: user

#10909 chore: add pr-feedback workflow
  .github/workflows/pr-feedback.yml
Labels: 3. to review

#10433 clarify the separation encryption of local and remote storage
  admin_manual/configuration_files/encryption_configuration.rst
Labels: 3. to review

#10912 fix(i18n): fix typo
  user_manual/files/access_webdav.rst
Labels: backport-request

#10461 fix(adminmanual): Recommend basic auth over NTLM for Exchange
  admin_manual/configuration_server/email_configuration.rst
Labels: bug, 3. to review, backport-request, manual: admin

#10036 Fix an error in sync_android documentation
  user_manual/groupware/sync_android.rst
Labels: backport-request, manual: user

#10904 [stable-25] Update middlewares.rst
  developer_manual/basics/middlewares.rst
Labels: manual: developer

#10937 Fix OpenAPI illegal character error
  developer_manual/_static/openapi.html
Labels: bug, 3. to review, backport-request

#10703 Add OpenAPI tutorial
  developer_manual/basics/controllers.rst
  developer_manual/client_apis/OCS/index.rst
  developer_manual/client_apis/OCS/ocs-openapi.rst
  developer_manual/conf.py
  developer_manual/core/static-analysis.rst
  requirements.txt
Labels: 2. developing

#10949 feat: update default length for password policy
  admin_manual/configuration_user/user_password_policy.rst
  admin_manual/images/user_password_policy_configuration_app.png
Labels: 3. to review, manual: admin

#9583 Document `occ status` and `-e` option (Related to #35873)
  admin_manual/configuration_server/background_jobs_configuration.rst
  admin_manual/configuration_server/occ_command.rst
Labels: enhancement, 3. to review, manual: admin

#10959 feat: add move messages to junk folder
  user_manual/groupware/images/mail_move-message-to-junk-folder.png
  user_manual/groupware/mail.rst
Labels: enhancement, 3. to review

#10800 Maximelehericy add circle info
  user_manual/groupware/contacts.rst
  user_manual/groupware/images/circle.png
Labels: 3. to review, backport-request

#10740 enh(chunk): Add docs for chunked upload v2
  developer_manual/client_apis/WebDAV/chunking.rst
Labels: 4. to release, manual: developer

#9757 Update troubleshooting.rst
  admin_manual/office/troubleshooting.rst
Labels: 4. to release, manual: admin

#10981 fix: circle image path
  user_manual/groupware/contacts.rst
Labels: 3. to review, backport-request, regression

#10984 fix(CI): Make warnings fail the CI build
  Makefile
  admin_manual/Makefile
  admin_manual/conf.py
  admin_manual/configuration_server/caching_configuration.rst
  admin_manual/configuration_server/dashboard_configuration.rst
  admin_manual/installation/example_ubuntu.rst
  admin_manual/installation/nginx.rst
  admin_manual/installation/source_installation.rst
  admin_manual/release_notes.rst
  build/composer.json
  build/generateIconsDoc.php
  developer_manual/Makefile
  developer_manual/app_development/dependency_management.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_14.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_26.rst
  developer_manual/client_apis/WebDAV/chunking.rst
  developer_manual/conf.py
  developer_manual/design/atomiccomponents.rst
  developer_manual/html_css_design/css.rst
  developer_manual/html_css_design/icons.rst
  user_manual/Makefile
  user_manual/conf.py
Labels: bug, 3. to review, manual: admin, manual: developer, manual: user

#10989 (big_file_upload_configuration) Note new Apache LimitRequestBody default
  admin_manual/configuration_files/big_file_upload_configuration.rst
Labels: 3. to review

#10957 Add file-metadata WebDAV properties
  developer_manual/client_apis/WebDAV/basic.rst
Labels: enhancement, 2. developing, backport-request, waiting for code merge, manual: developer, client: 💻 desktop, client: 🤖🍏 mobile

#11024 Add Dorra to Talk codeowners
  .github/CODEOWNERS
Labels: 3. to review

#11027 feat: add snooze
  admin_manual/groupware/mail.rst
  user_manual/groupware/mail.rst
Labels: enhancement, 3. to review, manual: user

#11025 [admin_manual] Add documentaion for thread summary
  admin_manual/groupware/mail.rst
Labels: 3. to review, manual: admin

#11026 feat: add dark mode toggle
  conf.py
  requirements.txt
Labels: enhancement, 3. to review, accessibility

#11049 Clarify pcntl disable_functions
  admin_manual/installation/source_installation.rst
Labels: 3. to review, technical debt

#11032 Increase discoverability of background jobs documentation
  admin_manual/installation/source_installation.rst
Labels: 4. to release

#11056 Add psalm version requirement to OpenAPI tutorial
  developer_manual/client_apis/OCS/ocs-openapi.rst
Labels: 3. to review

#10986 Update harden_server.rst
  admin_manual/installation/harden_server.rst
Labels: enhancement, 3. to review

#11068 Update source_installation.rst
  admin_manual/installation/source_installation.rst
Labels: enhancement, 3. to review, backport-request

#11072 docs: add hint for php-sodium
  admin_manual/installation/source_installation.rst
Labels: 3. to review

#11080 (admin) email cfg - NC `loglevel` `0` required for Mailer debugging
  admin_manual/configuration_server/email_configuration.rst
Labels: 3. to review, manual: admin

#11079 Document new command ldap:check-group
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/user_auth_ldap.rst
Labels: enhancement, 3. to review, manual: admin

#11085 chore: normalize spelling for PHP + version
  admin_manual/maintenance/migrating_owncloud.rst
  admin_manual/release_notes/upgrade_to_26.rst
  admin_manual/release_notes/upgrade_to_27.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_14.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_15.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_16.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_21.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_24.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_26.rst
  developer_manual/app_publishing_maintenance/release_process.rst
  developer_manual/basics/controllers.rst
Labels: 3. to review
