Repository nextcloud/documentation, pull requests merged in 2023-04, with the labels that each got.

#9571 Use --option=value version for occ maintenance:install
  admin_manual/installation/command_line_installation.rst
Labels: enhancement, 3. to review, manual: admin

#10001 feat(devmanual): Add go.php shortcut for the backports doc
  go.php
Labels: enhancement, 3. to review, backport-request, manual: developer

#10025 Update Calendar Screenshot
  user_manual/groupware/images/calendar_event_reminders.png
Labels: 2. developing

#10024 Document GroupChanged Event
  developer_manual/basics/events.rst
Labels: 3. to review, backport-request

#10023 Document symfony mailer
  admin_manual/configuration_server/email_configuration.rst
  admin_manual/images/smtp-config-smtp.png
  admin_manual/images/smtp-config-wizard.png
Labels: 3. to review, backport-request, manual: admin

#10045 Add warnings about limited availability of versioning features
  user_manual/files/version_control.rst
Labels: 3. to review, manual: user

#10041 Add reference providers doc
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/reference.rst
Labels: enhancement, 2. developing, backport-request, manual: developer

#10043 Add reference management admin doc
  admin_manual/contents.rst
  admin_manual/office/index.rst
  admin_manual/reference/index.rst
  admin_manual/reference/link_previews.rst
  admin_manual/reference/smart_picker.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#10078 fix(devmanual): Drop outdated database.xml information
  developer_manual/basics/storage/migrations.rst
Labels: 3. to review, manual: developer

#10042 feat(status): Document user status restore
  developer_manual/client_apis/OCS/ocs-status-api.rst
Labels: 3. to review, manual: developer

#10098 feat(translation): Add dev docs on OCP\Translation
  developer_manual/client_apis/OCS/ocs-translation-api.rst
  developer_manual/digging_deeper/index.rst
  developer_manual/digging_deeper/translation.rst
Labels: 3. to review, backport-request, manual: developer

#10114 fix(syntax): Fix list syntax in system requirements
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, backport-request

#9742 feat(bruteforce): Document the new BruteForceProtection attribute
  developer_manual/basics/controllers.rst
Labels: enhancement, 3. to review, manual: developer

#10087 feat(devmanual): Start 27 upgrade docs
  developer_manual/app_publishing_maintenance/app_upgrade_guide/index.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_27.rst
Labels: 3. to review, manual: developer

#10100 feat(developer): Document ratelimit attributes
  developer_manual/basics/controllers.rst
Labels: enhancement, 3. to review, manual: developer

#10206 feat(developer): Replace annotations with attributes
  developer_manual/app_development/tutorial.rst
  developer_manual/basics/controllers.rst
  developer_manual/basics/setting.rst
  developer_manual/digging_deeper/javascript-apis.rst
  developer_manual/digging_deeper/publicpage.rst
  developer_manual/digging_deeper/rest_apis.rst
  developer_manual/prologue/security.rst
Labels: enhancement, 3. to review, manual: developer

#10212 ci(transifex): increase waiting time between mergen retries
  .github/workflows/transifex.yml
Labels: 3. to review

#10073 Add developer documentation for custom `ICalendar` access through CalDav
  developer_manual/digging_deeper/groupware/calendar.rst
Labels: 3. to review, waiting for code merge, manual: developer, blocked

#10227 docs: typo in git pull command
  developer_manual/getting_started/development_process.rst
Labels: bug, 3. to review, backport-request

#10231 feat(devmanual): Document PSR-0 autoloader removal
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_27.rst
  developer_manual/digging_deeper/classloader.rst
Labels: 3. to review, manual: developer

#10049 feat(devmanual): Document app maintainer role
  developer_manual/app_publishing_maintenance/index.rst
  developer_manual/app_publishing_maintenance/maintainer.rst
Labels: 3. to review, manual: developer

#10237 feat(usermanual): Subscribe to holiday calendars in Calendar
  user_manual/groupware/calendar.rst
Labels: enhancement, 3. to review, backport-request, manual: user
