Repository nextcloud/documentation, pull requests merged in 2023-07, with the labels that each got.

#10707 suppress a duplicate word
  admin_manual/configuration_files/primary_storage.rst
Labels: bug

#9639 Add note about Group Folders
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request, manual: admin

#10636 Add note about migrations run by background jobs
  admin_manual/maintenance/upgrade.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#10715 fix(devmanual): Clarify privacy requirements of unified search providers
  developer_manual/digging_deeper/search.rst
Labels: 3. to review, backport-request, manual: developer

#10737 fix(developer_manual): Document event updates
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_28.rst
  developer_manual/basics/events.rst
Labels: 3. to review, manual: developer

#10741 feat(dev): Add documentation for new AddMissingIndicesEvent
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_28.rst
  developer_manual/basics/events.rst
  developer_manual/basics/storage/migrations.rst
Labels: 3. to review, manual: developer

#10729 (admin) user_auth_ldap: add warnings about LDAP quota precedence
  admin_manual/configuration_user/user_auth_ldap.rst
Labels: 3. to review

#10587 feat(dashboard): Add admin documentation for dashboard
  admin_manual/configuration_server/dashboard_configuration.rst
  admin_manual/configuration_server/index.rst
Labels: 3. to review, manual: admin

#10817 Update middlewares.rst
  developer_manual/basics/middlewares.rst
Labels: manual: developer

#10760 (admin-general troubleshooting) Enabling phpinfo access via the serverinfo (System) app
  admin_manual/issues/general_troubleshooting.rst
Labels: enhancement, 3. to review, manual: admin
