Repository nextcloud/documentation, pull requests merged in 2023-05, with the labels that each got.

#10244 docs(occ): update maintenance mode section
  admin_manual/configuration_server/occ_command.rst
Labels: enhancement, 3. to review

#10246 feat(usermanual): One-click unsubscribe for Mail
  user_manual/groupware/mail.rst
Labels: enhancement, 3. to review, backport-request, manual: user

#10253 feat(user-talk): Document that changing permissions adds permanently
  user_manual/talk/talk_basics.rst
Labels: enhancement, 3. to review, backport-request, manual: user

#10261 feat(developer): Document the changes to the app ecosystem compatibility
  developer_manual/app_publishing_maintenance/app_upgrade_guide/index.rst
  developer_manual/prologue/compatibility_app_ecosystem.rst
Labels: enhancement, 3. to review, manual: developer

#10263 feat(mail): document minimizing the composer modal
  user_manual/groupware/images/mail-composer-indicator.png
  user_manual/groupware/images/mail-minimize-composer.png
  user_manual/groupware/mail.rst
Labels: 4. to release, backport-request, manual: user

#10262 [stable26] fix(26): Execute branch-off todo we forgot for stable26
  developer_manual/basics/logging.rst
  developer_manual/basics/setting.rst
  developer_manual/client_apis/OCS/ocs-share-api.rst
  developer_manual/getting_started/devenv.rst
Labels: 3. to review

#10268 feat(usermanual): Document task from email feature
  user_manual/groupware/calendar.rst
  user_manual/groupware/mail.rst
Labels: 4. to release, backport-request, manual: user

#10267 fix(developer): Document optional returned from in translation response
  developer_manual/client_apis/OCS/ocs-translation-api.rst
Labels: bug, 3. to review, manual: developer

#10279 [stable26] chore(requirements): pin all dependencies
  requirements.txt
Labels: 3. to review

#10280 [stable24] chore(requirements): pin all dependencies
  requirements.txt
Labels: 3. to review

#10281 [stable23] chore(requirements): pin all dependencies
  requirements.txt
Labels: 3. to review

#10282 [stable25] chore(requirements): pin all dependencies
  requirements.txt
Labels: 4. to release

#10283 chore(dependabot): enable for pip
  .github/dependabot.yml
Labels: 3. to review

#10284 ci(sphinxbuild): drop custom action and build directly
  .github/workflows/sphinxbuild.yml
Labels: 3. to review

#10335 feat: Mail account delegation
  admin_manual/groupware/index.rst
  admin_manual/groupware/mail.rst
  user_manual/groupware/mail.rst
Labels: 4. to release, backport-request, manual: admin, manual: user

#10040 Improve webdav documentation
  developer_manual/client_apis/WebDAV/basic.rst
Labels: enhancement, 3. to review, manual: developer

#10340 Change contacts screenshots to new design
  user_manual/groupware/contacts.rst
  user_manual/images/contact_new.png
  user_manual/images/contact_view_mode.png
  user_manual/images/contacts_empty.png
Labels: 3. to review

#10339 Create Talk room for booked appointments
  user_manual/groupware/calendar.rst
Labels: 3. to review, backport-request

#10349 fix(adminmanual): Remove note about automatically trusted servers
  admin_manual/configuration_files/federated_cloud_sharing_configuration.rst
  admin_manual/configuration_files/images/federation-0.png
  admin_manual/configuration_files/images/federation-1.png
Labels: 4. to release, backport-request, manual: admin

#10353 feat(usermanual): Add user manager property description
  admin_manual/configuration_user/user_configuration.rst
Labels: enhancement, 3. to review, manual: admin

#10355 feat(devmanual): Add user managers doc
  developer_manual/digging_deeper/users.rst
Labels: enhancement, 4. to release, manual: developer

#10360 chore(deps): Disable Dependabot for stable branches
  .github/dependabot.yml
Labels: 3. to review, dependencies

#10367 Add talk and security team as code owners
  .github/CODEOWNERS
Labels: 3. to review, backport-request

#10370 Add required php extensions for psalm
  developer_manual/core/index.rst
  developer_manual/core/static-analysis.rst
Labels: bug, 3. to review, backport-request, manual: developer

#10376 Remove doc links for Nextcloud 9-11 because they don't exist nor build
  index.html
Labels: bug, 3. to review

#10362 fix: Remove outdated "windows enablers"
  admin_manual/Create HTML.lnk
  admin_manual/Create PDF.lnk
  developer_manual/Create HTML.lnk
  developer_manual/Create PDF.lnk
  setup.cmd
  user_manual/Create HTML.lnk
  user_manual/Create PDF.lnk
  win32/README.txt
  win32/ca-bundle.crt
  win32/wget.exe
Labels: 3. to review

#10380 feat(adminmanual): system address book
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/profile_configuration.rst
  admin_manual/groupware/contacts.rst
  admin_manual/groupware/index.rst
Labels: 4. to release, backport-request, manual: admin

#10264 feat(user_manual): document system address book
  user_manual/groupware/contacts.rst
  user_manual/images/oc_personal_settings_dropdown.png
  user_manual/images/userdata-scope.png
  user_manual/userpreferences.rst
Labels: 3. to review, waiting for code merge, manual: user

#10375 [admin] Nginx: Change mimetype for javascript
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: 4. to release, manual: admin

#10388 fix: occ encryption:decrypt-all handles maintenance mode and disables…
  admin_manual/configuration_files/encryption_configuration.rst
Labels: 3. to review, backport-request

#10389 fix(requirements): Clarify php and db recommendation
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, backport-request, manual: admin

#10400 fix(admin): command box formatting in SSE-C section
  admin_manual/configuration_files/primary_storage.rst
Labels: bug, 4. to release, backport-request

#10396 update design-foundation
  developer_manual/design/foundations.rst
Labels: enhancement, 3. to review

#10374 feat(developer): Add `color-info` to design guidelines
  developer_manual/design/foundations.rst
  developer_manual/images/color-error.svg
  developer_manual/images/color-info.svg
  developer_manual/images/color-success.svg
  developer_manual/images/color-warning.svg
Labels: design, 4. to release, waiting for code merge

#9656 Fix variable name on controller page
  developer_manual/basics/controllers.rst
Labels: 4. to release, backport-request, manual: developer

#10414 feat(developer): Copy over changes for developers from GitHub issue
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_27.rst
Labels: enhancement, 3. to review, manual: developer

#10419 chore: Fix internal links after stable27 branch-off
  admin_manual/apps_management.rst
  admin_manual/configuration_files/big_file_upload_configuration.rst
  admin_manual/configuration_files/encryption_details.rst
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/configuration_server/occ_command.rst
  admin_manual/configuration_user/two_factor-auth.rst
  admin_manual/index.rst
  admin_manual/issues/general_troubleshooting.rst
  admin_manual/release_schedule.rst
  developer_manual/basics/logging.rst
  developer_manual/basics/setting.rst
  developer_manual/client_apis/OCS/ocs-share-api.rst
  developer_manual/getting_started/devenv.rst
  user_manual/external_storage/external_storage.rst
  user_manual/files/access_webdav.rst
  user_manual/files/deleted_file_management.rst
  user_manual/files/encrypting_files.rst
  user_manual/files/large_file_upload.rst
  user_manual/files/quota.rst
  user_manual/files/sharing.rst
  user_manual/files/transfer_ownership.rst
  user_manual/groupware/sync_gnome.rst
  user_manual/groupware/sync_ios.rst
  user_manual/groupware/sync_kde.rst
Labels: bug, 3. to review

#10428 feat: add files api
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_27.rst
  developer_manual/client_apis/activity-api.rst
  developer_manual/client_apis/files.rst
  developer_manual/client_apis/index.rst
Labels: 3. to review, backport-request, manual: developer

#10431 update design foundation and add penpot links
  developer_manual/design/foundations.rst
Labels: 3. to review

#10438 fix(adminmanual): Fix Amazon SSEC link
  admin_manual/configuration_files/primary_storage.rst
Labels: bug, 3. to review, backport-request, manual: admin

#10440 [stable22] chore(requirements): pin all dependencies
  requirements.txt
Labels: 3. to review

#10441 [stable21] chore(requirements): pin all dependencies
  requirements.txt
Labels: 3. to review

#10442 [stable20] chore(requirements): pin all dependencies
  requirements.txt
Labels: 3. to review

#10439 fix(adminmanual): Fix github link syntax
  admin_manual/installation/nginx.rst
Labels: bug, 3. to review, backport-request, manual: admin

#10397 update layout page
  developer_manual/design/layout.rst
  developer_manual/images/activity-layout.png
  developer_manual/images/files-layout.png
  developer_manual/images/mail-layout.png
  developer_manual/images/talk-layout.png
Labels: 3. to review

#10398 update layoutcomponents page
  developer_manual/design/layoutcomponents.rst
  developer_manual/images/contacts-navigation.png
  developer_manual/images/list-item.gif
  developer_manual/images/mail-navigation-entries.png
  developer_manual/images/mail-primary-action-button.png
  developer_manual/images/new-item-element.gif
  developer_manual/images/sidebar-details.png
  developer_manual/images/sidebar-sharing.png
  developer_manual/images/talk-settings-modal.png
Labels: 3. to review

#10435 Add a note about encoding in login flow
  developer_manual/client_apis/LoginFlow/index.rst
Labels: backport-request, manual: developer

#10452 fix(adminmanual): Document SMTP+NTLM limitation in 26
  admin_manual/configuration_server/email_configuration.rst
Labels: bug, 3. to review, backport-request, manual: admin

#9928 docs(user): Files WebDAV fixes
  user_manual/files/access_webdav.rst
  user_manual/groupware/sync_gnome.rst
  user_manual/groupware/sync_thunderbird.rst
Labels: 4. to release, manual: user

#10473 Minor updates to foundations.rst
  developer_manual/design/foundations.rst
Labels: 3. to review

#10468 feat(adminmanual): Create critical changes section for admins
  admin_manual/contents.rst
  admin_manual/maintenance/manual_upgrade.rst
  admin_manual/maintenance/package_upgrade.rst
  admin_manual/maintenance/upgrade.rst
  admin_manual/release_notes.rst
  admin_manual/release_notes/index.rst
  admin_manual/release_notes/upgrade_to_27.rst
  admin_manual/release_schedule.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#10480 feat(adminmanual): Start 28 upgrade docs
  admin_manual/release_notes/index.rst
  admin_manual/release_notes/upgrade_to_28.rst
Labels: enhancement, 3. to review, manual: admin

#10482 [stable27] feat(adminmanual): Create critical changes section for admins
  admin_manual/contents.rst
  admin_manual/maintenance/manual_upgrade.rst
  admin_manual/maintenance/package_upgrade.rst
  admin_manual/maintenance/upgrade.rst
  admin_manual/release_notes.rst
  admin_manual/release_notes/index.rst
  admin_manual/release_notes/upgrade_to_27.rst
  admin_manual/release_schedule.rst
Labels: 3. to review

#10481 feat(adminmanual): PHP8.0 deprecation in Nextcloud 27
  admin_manual/release_notes/upgrade_to_27.rst
Labels: 3. to review, backport-request, manual: admin

#10437 (s3 primary) Simplify language, note defaults, better examples
  admin_manual/configuration_files/primary_storage.rst
Labels: 3. to review

#10484 Update User migration docs for 32-bit support
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_27.rst
  developer_manual/digging_deeper/user_migration.rst
Labels: 4. to release, backport-request, manual: developer

#10528 fix(admin): Make double dash readable as such
  admin_manual/configuration_server/logging_configuration.rst
Labels: bug, 3. to review, manual: admin

#10513 Document some phpdoc return type changes in OCP in 27
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_27.rst
Labels: 3. to review, backport-request

#10518 feat(devmanual): Document HTTP status changes for failing strict cookies
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_27.rst
Labels: enhancement, 3. to review, backport-request, manual: developer

#10539 feat(adminmanual): Add 26 upgrade docs
  admin_manual/configuration_server/email_configuration.rst
  admin_manual/installation/nginx.rst
  admin_manual/release_notes/index.rst
  admin_manual/release_notes/upgrade_to_26.rst
Labels: 3. to review, manual: admin

#10541 feat(devmanual): Document \OC_App::isEnabled removal
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_28.rst
Labels: 3. to review, manual: developer
