Repository nextcloud/documentation, pull requests merged in 2024-04, with the labels that each got.

#11692 docs(admin): Update Android system requirements to 7
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, manual: admin

#11691 docs(admin): Adjust + automate ordering of Configuration chapter
  admin_manual/configuration_server/index.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#11697 [stable27] docs(admin): Update Android system requirements to 7
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, manual: admin

#11701 [user_manual] Add documentaion for thread summary
  user_manual/groupware/mail.rst
Labels: enhancement, 3. to review, manual: user, feature: mail app

#11702 docs(admin): Bring Administration privileges chapter up-to-date
  admin_manual/configuration_server/admin_delegation_configuration.rst
  admin_manual/configuration_server/images/admin-right.png
Labels: enhancement, 3. to review, backport-request, manual: admin, feature: settings

#11707 docs(admin): Fix typo in brute force disabling command
  admin_manual/configuration_server/bruteforce_configuration.rst
Labels: bug, manual: admin

#11712 docs(admin): Document MultipartUpload for uploading chunks to s3
  admin_manual/configuration_files/big_file_upload_configuration.rst
Labels: enhancement, 3. to review, feature: object storage

#11710 Drop all mentions of php 8.0
  admin_manual/installation/php_configuration.rst
  admin_manual/installation/source_installation.rst
  admin_manual/installation/system_requirements.rst
  admin_manual/issues/general_troubleshooting.rst
  admin_manual/release_notes/index.rst
  admin_manual/release_notes/upgrade_to_30.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/index.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 4. to release

#11714 docs(admin): Replace supported app Two-Factor U2F w/ WebAuthn
  admin_manual/installation/apps_supported.rst
Labels: bug, backport-request, manual: admin, feature: authentication

#11718 fix(developer): Adjust links for frontend library documentation
  developer_manual/digging_deeper/javascript-apis.rst
Labels: bug, 3. to review, backport-request

#11715 fix(developer): Add deprecation of `OC.dialogs.fileexists` to upgrade…
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_29.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, waiting for code merge, manual: developer

#11724 fix(developer): Add note about breaking UI change due to heading styles
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, manual: developer

#11726 feat(user_manual): update screenshots and feature description (Talk 18)
  user_manual/talk/images/call-menu.png
  user_manual/talk/images/change-name.png
  user_manual/talk/images/clear-filter.png
  user_manual/talk/images/creating-open-conversation.png
  user_manual/talk/images/device-check.png
  user_manual/talk/images/filters-menu.png
  user_manual/talk/images/guest-room-menu.png
  user_manual/talk/images/guest-settings.png
  user_manual/talk/images/guest-view.png
  user_manual/talk/images/share-files-in-chat-selection.png
  user_manual/talk/images/share-screen-with-camera.png
  user_manual/talk/images/talk-upload-files.png
  user_manual/talk/join_a_call_or_chat_as_guest.rst
  user_manual/talk/talk_basics.rst
Labels: enhancement, 3. to review, backport-request, manual: user

#11716 fix(developer): Deprecate `OC.dialogs`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
  developer_manual/digging_deeper/javascript-apis.rst
Labels: bug, 3. to review, waiting for code merge

#11729 fix(developers): Document new notification exceptions
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 3. to review, manual: developer

#11738 fix(index): Add upcoming Desktop 3.13
  index.html
Labels: 1. to develop

#11741 feat(ldap): Update screenshots and add new option documentation
  admin_manual/configuration_user/user_auth_ldap.rst
  admin_manual/images/ldap-advanced-1-connection.png
  admin_manual/images/ldap-advanced-2-directory.png
  admin_manual/images/ldap-advanced-3-attributes.png
  admin_manual/images/ldap-advanced-4-attributes.png
  admin_manual/images/ldap-expert.png
  admin_manual/images/ldap-wizard-1-server.png
  admin_manual/images/ldap-wizard-2-user.png
  admin_manual/images/ldap-wizard-3-login.png
  admin_manual/images/ldap-wizard-4-group.png
Labels: 3. to review, backport-request

#11706 docs(tuning): add warning for Imaginary+HEIC
  admin_manual/installation/server_tuning.rst
Labels: 3. to review, feature: previews and thumbnails

#11747 fix(developers): Document updated activity exceptions
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: bug, 3. to review, manual: developer, feature: activity and notification

#10408 Removed the duplicate extension "js" warning from the NGINX configuration
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: 3. to review, manual: admin

#11763 Updating pr-feedback.yml workflow from template
  .github/workflows/pr-feedback.yml
Labels: dependencies

#11757 feat(developers): Document trash item deleted by method
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, manual: developer, feature: trashbin

#11768 Add option to db indices to occ_command.rst
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, backport-request, manual: admin
