Repository nextcloud/documentation, pull requests merged in 2024-02, with the labels that each got.

#11490 feat(adminmanual): Amend upgrade notes about mailer changes in 26
  admin_manual/release_notes/upgrade_to_26.rst
Labels: enhancement, 4. to release, backport-request, manual: admin

#11492 feat(devmanual): DB clusters and read/write split
  developer_manual/digging_deeper/performance.rst
  developer_manual/getting_started/devenv.rst
Labels: enhancement, 4. to release, manual: developer

#11497 fix(background_jobs_configuration) Add example
  admin_manual/configuration_server/background_jobs_configuration.rst
Labels: 3. to review, backport-request, manual: admin

#11505 chore: update workflows from templates
  .github/workflows/block-merge-eol.yml
  .github/workflows/block-merge-freeze.yml
  .github/workflows/fixup.yml
Labels: 3. to review, dependencies, automated

#11506 [stable28] chore: update workflows from templates
  .github/workflows/block-merge-eol.yml
  .github/workflows/block-merge-freeze.yml
  .github/workflows/fixup.yml
Labels: 3. to review, dependencies, automated

#11508 fix(dev): Remove duplicate debugging page
  developer_manual/getting_started/debugging.rst
  developer_manual/getting_started/index.rst
Labels: bug, 3. to review, backport-request

#11512 feat(usermanual): smart replies for Mail
  user_manual/groupware/mail.rst
Labels: 4. to release, backport-request, feature: mail app

#11507 feat(adminmanual): Smart replies for mail
  admin_manual/groupware/mail.rst
Labels: 3. to review, backport-request, feature: mail app

#11473 fix(admin): Update supported database support
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, manual: admin

#11513 chore(developer): Add note about dashboard no longer loading the viewer scripts by default
  developer_manual/app_publishing_maintenance/app_upgrade_guide/index.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_29.rst
Labels: 3. to review, waiting for code merge

#11522 fix(developer): Mention removal of global `autosize`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_29.rst
Labels: 3. to review, waiting for code merge

#11515 fix(developer): Remove docs for deprecated and removed event
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_29.rst
  developer_manual/digging_deeper/dashboard.rst
Labels: 3. to review, waiting for code merge

#11491 fix(devmanual): Move cached data out of database performance section
  developer_manual/digging_deeper/performance.rst
Labels: bug, 3. to review, backport-request, manual: developer

#11530 Doc(user-manual): Add expiring messages doc
  user_manual/talk/images/messages-expiration.png
  user_manual/talk/talk_basics.rst
Labels: backport-request, manual: user, feature: talk

#11521 fix(developer)!: oc_share table is now only for files and folders
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_29.rst
Labels: enhancement, 3. to review, manual: developer, performance 🚀

#11536 Speech-To-Text and Machine Translation providers with user context
  developer_manual/digging_deeper/speech-to-text.rst
  developer_manual/digging_deeper/translation.rst
Labels: enhancement, 3. to review

#11547 docs(dav): Document reminder property
  developer_manual/client_apis/WebDAV/basic.rst
Labels: 3. to review, feature: dav

#11535 Add documentation about new sharing settings
  admin_manual/configuration_files/file_sharing_configuration.rst
Labels: enhancement, 3. to review, feature: sharing

#11541 docs(admin): revise the brute force protection configuration chapter
  admin_manual/configuration_server/bruteforce_configuration.rst
Labels: bug, enhancement, 3. to review, backport-request, manual: admin

#11442 feat(developer_manual): Add Route attribute to routing introduction
  developer_manual/basics/routing.rst
Labels: enhancement, 3. to review

#11565 feat(adminmanual): Add section about CalDAV rate limits
  admin_manual/groupware/calendar.rst
Labels: enhancement, 3. to review

#11568 docs(admin_manual): enhance occ app commands section
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, manual: admin, feature: occ

#11567 feat(adminmanual): Add section about CalDAV rate limits
  admin_manual/groupware/calendar.rst
Labels: enhancement, 3. to review, manual: admin

#11569 adjust slogan for AIO
  admin_manual/installation/source_installation.rst
Labels: 3. to review, backport-request

#11578 docs(admin): Warn to choose custom app values carefully
  admin_manual/apps_management.rst
Labels: enhancement, backport-request, manual: admin, feature: apps management

#11581 docs(admin): Fix name of Collabora Nextcloud integration app
  admin_manual/office/example-docker.rst
Labels: bug, 3. to review

#11585 feat: Add hint about renaming of circles to teams
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_29.rst
Labels: enhancement, 3. to review, manual: developer

#11584 docs(admin): Clarify DB conversion steps and command usage
  admin_manual/configuration_database/db_conversion.rst
  admin_manual/configuration_database/linux_database_configuration.rst
Labels: bug, enhancement, manual: admin, feature: occ

#11588 docs(admin): Emphasize recommended versions in db chapter
  admin_manual/configuration_database/linux_database_configuration.rst
Labels: 3. to review, backport-request, manual: admin

#11592 Fix warning for data-directory troubleshooting
  admin_manual/issues/general_troubleshooting.rst
Labels: 3. to review, backport-request

#11586 feat(dev): add replace option to AddMissingIndices
  developer_manual/basics/storage/migrations.rst
Labels: 3. to review

#11596 Added support for Built-in CODE Server (ARM64)
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: bug, backport-request, manual: admin, feature: install and update

#11590 feat: Mail app LLM event title/agenda
  admin_manual/groupware/mail.rst
  user_manual/groupware/mail.rst
Labels: enhancement, 3. to review, manual: admin, manual: user

#11571 AI chapter: Add link to SummarAI app
  admin_manual/ai/index.rst
Labels: 3. to review, manual: admin
