Repository nextcloud/documentation, pull requests merged in 2024-01, with the labels that each got.

#11414 Update harden_server.rst
  admin_manual/installation/harden_server.rst
Labels: bug, 4. to release, manual: admin

#11421 Add warning to datadirectory parameter
  admin_manual/configuration_server/config_sample_php_parameters.rst
Labels: backport-request

#10711 enh: add some more documentation for antivirus usage
  admin_manual/configuration_server/antivirus_configuration.rst
  admin_manual/configuration_server/occ_command.rst
Labels: enhancement, 3. to review, manual: admin, feature: antivirus scanner

#11428 fix(admin_manuel): Add note about shared items feature in contacts
  admin_manual/groupware/contacts.rst
Labels: 3. to review, feature: contacts

#11408 feat(usermanual): Add out-of-office/absence message feature
  user_manual/groupware/absence.rst
  user_manual/groupware/calendar.rst
  user_manual/groupware/index.rst
  user_manual/groupware/mail.rst
Labels: enhancement, 3. to review, backport-request

#11432 feat(developer_manual): remove legacy chunk upload and improve required headers
  developer_manual/client_apis/WebDAV/basic.rst
  developer_manual/client_apis/WebDAV/chunking.rst
Labels: 3. to review

#11436 feat(developer_manual): add vue l10n hint
  developer_manual/basics/front-end/l10n.rst
Labels: 3. to review

#11443 Update occ_command.rst
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request

#11446 feat(adminmanual): Add db replica docs
  admin_manual/configuration_database/index.rst
  admin_manual/configuration_database/replication.rst
Labels: enhancement, 3. to review, manual: admin

#11401 Added documentation around File Drop Shares not chunking uploaded files.
  admin_manual/configuration_files/big_file_upload_configuration.rst
  admin_manual/configuration_files/file_sharing_configuration.rst
Labels: enhancement, 4. to release, manual: admin, feature: sharing

#11412 chore: update workflows from templates
  .github/workflows/pr-feedback.yml
Labels: 3. to review, dependencies, automated

#11399 feat(admin): document the `--showonly` flag of the app update command
  admin_manual/configuration_server/occ_command.rst
Labels: 4. to release, manual: admin, feature: occ, feature: apps management

#11427 correct variable name
  developer_manual/basics/events.rst
Labels: bug, manual: developer

#11183 feat(devmanual): Add \OCP\DB\IResult::fetch deprecation
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_28.rst
  developer_manual/basics/storage/database.rst
Labels: enhancement, 3. to review, backport-request, manual: developer

#11444 Remove bz2 from recommend extensions
  admin_manual/installation/php_configuration.rst
Labels: 3. to review, backport-request, manual: admin

#11477 Document 'occ security:bruteforce:attempts'
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request

#11480 fix(admin): Update 2FA screenshots
  admin_manual/images/2fa-admin-settings.png
  admin_manual/images/2fa-app-install.png
Labels: bug, 3. to review, backport-request, manual: admin

#11451 Fix(email_configuration): Fix conflicting debug mode sections
  admin_manual/configuration_server/email_configuration.rst
Labels: 3. to review, backport-request, manual: admin, feature: emails
