Repository nextcloud/documentation, pull requests merged in 2024-12, with the labels that each got.

#12406 fix(client): Fix Out-of-office endpoint and response data
  developer_manual/client_apis/OCS/ocs-out-of-office-api.rst
  developer_manual/client_apis/OCS/ocs-recommendations-api.rst
  developer_manual/client_apis/OCS/ocs-share-api.rst
  developer_manual/client_apis/OCS/ocs-sharee-api.rst
  developer_manual/client_apis/OCS/ocs-status-api.rst
  developer_manual/client_apis/OCS/ocs-text2image-api.rst
  developer_manual/client_apis/OCS/ocs-textprocessing-api.rst
  developer_manual/client_apis/OCS/ocs-translation-api.rst
  developer_manual/client_apis/OCS/ocs-user-preferences-api.rst
Labels: bug, 3. to review, backport-request, manual: developer

#12409 Contacts: add contact group information
  user_manual/groupware/contacts.rst
Labels: 3. to review

#12390 fix(s3): document options for adjusting multipartcopy behavior
  admin_manual/configuration_files/primary_storage.rst
Labels: enhancement, 3. to review, backport-request, manual: admin, feature: object storage

#12418 Add new task types to the task processing API
  developer_manual/digging_deeper/task_processing.rst
Labels: 3. to review, manual: developer, feature: text processing

#12351 Add note on Apple App Transport Security for the macOS desktop client
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, manual: admin

#12427 Add generic uninstallation pointers
  admin_manual/installation/index.rst
  admin_manual/installation/uninstallation.rst
Labels: 3. to review, backport-request, manual: admin, feature: install and update

#12443 fix(TaskProcessing): Fix typo in URL and remove a non-existing endpoint
  developer_manual/client_apis/OCS/ocs-taskprocessing-api.rst
Labels: backport-request

#12450 feat(31): info about added LoadAdditionalEntriesEvent
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_31.rst
Labels: enhancement, 3. to review

#12388 Document the recipient info feature
  user_manual/groupware/mail.rst
Labels: 3. to review, backport-request

#12464 fix(ooo): POST/DELETE endpoint
  developer_manual/client_apis/OCS/ocs-out-of-office-api.rst
Labels: backport-request
