Repository nextcloud/documentation, pull requests merged in 2024-08, with the labels that each got.

#12020 fix(Files): mention enabledPreviewProviders parameter in Previews chapter
  admin_manual/configuration_files/previews_configuration.rst
Labels: 3. to review, manual: admin, feature: previews and thumbnails

#12085 fix(user): room availability is available starting from calendar 5.0
  user_manual/groupware/calendar.rst
Labels: bug, 3. to review, manual: user

#12092 feat(admin): document hidden calendar server settings
  admin_manual/groupware/calendar.rst
  admin_manual/groupware/images/settings_calendar-server.png
Labels: enhancement, 3. to review, manual: admin, feature: caldav, feature: settings

#12091 feat(user): document follow-up reminders in mail
  user_manual/groupware/mail.rst
Labels: enhancement, 4. to release

#12024 feat(admin): Document server autoloading and class maps
  developer_manual/digging_deeper/classloader.rst
Labels: enhancement, 3. to review, manual: admin

#12095 chore: remove warning for shared calendar invitations
  user_manual/groupware/calendar.rst
Labels: 3. to review

#12096 feat: update calendar screenshots
  user_manual/groupware/calendar.rst
  user_manual/groupware/images/appointment_booking_1.png
  user_manual/groupware/images/appointment_booking_2.png
  user_manual/groupware/images/appointment_calendar_event.png
  user_manual/groupware/images/appointment_calendar_prep.png
  user_manual/groupware/images/appointment_config_options.png
  user_manual/groupware/images/appointment_new.png
  user_manual/groupware/images/calendar_accept_sidebar_editor.png
  user_manual/groupware/images/calendar_accept_simple_editor.png
  user_manual/groupware/images/calendar_adding_attachments.png
  user_manual/groupware/images/calendar_application.png
  user_manual/groupware/images/calendar_attachments_location.png
  user_manual/groupware/images/calendar_create_1.png
  user_manual/groupware/images/calendar_create_2.png
  user_manual/groupware/images/calendar_dropdown.png
  user_manual/groupware/images/calendar_editing.png
  user_manual/groupware/images/calendar_event_invitation_level.png
  user_manual/groupware/images/calendar_event_menu.png
  user_manual/groupware/images/calendar_event_menu_modal.png
  user_manual/groupware/images/calendar_new-event_month.png
  user_manual/groupware/images/calendar_new-event_week.png
  user_manual/groupware/images/calendar_settings.png
  user_manual/groupware/images/calendar_settings_sidebar.png
  user_manual/groupware/images/calendar_sharing_1.png
  user_manual/groupware/images/calendar_sharing_2.png
  user_manual/groupware/images/calendar_transparency.png
  user_manual/groupware/images/calendar_trash_bin.png
Labels: 3. to review

#12103 Update border radius documentation with new variables
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
  developer_manual/html_css_design/css.rst
Labels: enhancement, 3. to review, manual: developer

#12083 feat: mail provider
  developer_manual/digging_deeper/groupware/index.rst
  developer_manual/digging_deeper/groupware/mail_provider.rst
Labels: 3. to review

#12097 feat: document refresh rate
  admin_manual/groupware/calendar.rst
Labels: 3. to review

#12106 chore(developer): Add upgrade hint about CSP nonce
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
  developer_manual/digging_deeper/javascript-apis.rst
Labels: 3. to review, backport-request, manual: developer

#12112 [task processing] Fix text processing still being mentioned
  developer_manual/client_apis/OCS/ocs-taskprocessing-api.rst
  developer_manual/client_apis/OCS/ocs-textprocessing-api.rst
  developer_manual/digging_deeper/task_processing.rst
Labels: bug, 3. to review, backport-request

#12114 feat(admin): Auth token clean-up
  admin_manual/configuration_user/authentication.rst
  admin_manual/configuration_user/index.rst
  admin_manual/release_notes/upgrade_to_30.rst
Labels: 3. to review, manual: admin

#12116 fix(admin_manual): Fix formatting in text app configuration docs
  admin_manual/configuration_server/text_configuration.rst
Labels: bug, 3. to review, backport-request

#12124 fix(admin/migration): Updates NC version required for oC migration
  admin_manual/maintenance/migrating_owncloud.rst
Labels: backport-request

#12129 feat(developer): Document hash validate method
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, backport-request, manual: developer

#12132 feat: Add mention of `maintenance:repair-share-owner`
  admin_manual/configuration_server/occ_command.rst
Labels: 3. to review, php, feature: sharing

#12135 feat(dev): Add algorithms supported by oc:checksum prop and OC-Checksum header
  developer_manual/client_apis/WebDAV/basic.rst
Labels: 3. to review, backport-request, feature: dav

#12134 docs(admin): Add more details about configuring APCu
  admin_manual/configuration_server/caching_configuration.rst
  admin_manual/release_notes/index.rst
  admin_manual/release_notes/upgrade_to_31.rst
Labels: 3. to review

#12137 fix(admin): Add link for admin caching page
  go.php
Labels: bug, 3. to review, backport-request, manual: admin, feature: caching

#12121 fix(Admin/AI): update the prompt config examples for llm2
  admin_manual/ai/app_llm2.rst
Labels: backport-request

#12120 feat(Admin/AI): add docs for translate2
  admin_manual/ai/app_assistant.rst
  admin_manual/ai/app_translate.rst
  admin_manual/ai/app_translate2.rst
  admin_manual/ai/index.rst
  admin_manual/ai/overview.rst
Labels: backport-request

#12128 Add Enterprise-AIO hint to installation options
  admin_manual/installation/source_installation.rst
Labels: backport-request, manual: admin, feature: install and update

#12141 [stable30] feat(Admin/AI): add docs for translate2
  admin_manual/ai/app_assistant.rst
  admin_manual/ai/app_translate.rst
  admin_manual/ai/app_translate2.rst
  admin_manual/ai/index.rst
  admin_manual/ai/overview.rst
Labels: backport-request
