Repository nextcloud/documentation, pull requests merged in 2024-07, with the labels that each got.

#11941 feat: user manual out of office replacement
  user_manual/groupware/absence.rst
Labels: 3. to review, manual: user, feature: dav

#11952 developer: Document CSS variables and classes for public use
  _shared_assets/static/custom.css
  developer_manual/basics/front-end/theming.rst
  developer_manual/html_css_design/css.rst
  go.php
Labels: enhancement, 3. to review, backport-request, manual: developer

#11940 feat: dev-docs out of office replacement
  developer_manual/client_apis/OCS/ocs-out-of-office-api.rst
  developer_manual/digging_deeper/out_of_office.rst
Labels: 3. to review, manual: developer, feature: dav

#11956 fix(admin): Make it real clear group admins have admin privs
  admin_manual/configuration_user/user_configuration.rst
Labels: 3. to review, backport-request, manual: admin, feature: users and groups

#11958 feat(TaskProcessing): Add more task types
  developer_manual/digging_deeper/task_processing.rst
Labels: enhancement, 3. to review

#11802 feat(user_manual): update screenshots and feature description (Talk 19)
  user_manual/talk/advanced_features.rst
  user_manual/talk/images/add-participants.png
  user_manual/talk/images/chat-with-one-user.png
  user_manual/talk/images/drag-and-drop.png
  user_manual/talk/images/editing-document-in-chat-room.png
  user_manual/talk/images/federation-conversations-list.png
  user_manual/talk/images/federation-invite-dialog.png
  user_manual/talk/images/federation-invite-pending.png
  user_manual/talk/images/federation-invite-send.png
  user_manual/talk/images/message-editing.png
  user_manual/talk/images/message-silent.png
  user_manual/talk/images/new-room.png
  user_manual/talk/images/share-screen-with-camera.png
  user_manual/talk/talk_basics.rst
Labels: 2. developing, manual: user

#11979 feat(outbox): document outbox and send states
  user_manual/groupware/mail.rst
Labels: 3. to review

#11995 Add documentation for filename validation options
  admin_manual/release_notes/upgrade_to_30.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 3. to review, manual: admin, manual: developer

#11993 Update license header infos
  developer_manual/getting_started/codingguidelines.rst
Labels: 3. to review, manual: developer, standardisation

#11996 fix(developers): Clarify dashboard widget icons
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, manual: developer

#12002 fix: Add server-side setup check note to upgrade_to_28
  admin_manual/release_notes/upgrade_to_28.rst
Labels: bug, 3. to review, manual: admin, feature: install and update

#12006 change Nextcloud VM to main branch
  admin_manual/installation/source_installation.rst
Labels: backport-request

#12017 Require Redis v4.0.0+
  admin_manual/configuration_server/caching_configuration.rst
Labels: 3. to review, backport-request

#11957 docs(AI/LLM2): Update requirements and document model configuration
  admin_manual/ai/app_llm2.rst
Labels: enhancement, 3. to review

#11966 fix(developer): Add information about `body-container-` CSS variables
  developer_manual/html_css_design/css.rst
Labels: 3. to review, manual: developer

#12027 admin: Add Ubuntu 24.04 support
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, manual: admin

#12026 feat(admin): Add information about `forbidden_filename_basenames` in Nextcloud 30
  admin_manual/release_notes/upgrade_to_30.rst
Labels: enhancement, 3. to review, manual: admin

#12030 feat(developers): Document public reference API
  developer_manual/digging_deeper/reference.rst
Labels: 3. to review

#12036 feat(developer): Add new ExApp OpenAPI scope
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 3. to review

#12034 feat(developer): Add deprecated annotations in 30
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 3. to review

#12037 feat(developers): Document new backend API interface `IPublicReferenceProvider`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review

#12021 fix(admin): Various Upgrade doc refinements
  admin_manual/maintenance/manual_upgrade.rst
  admin_manual/maintenance/update.rst
  admin_manual/maintenance/upgrade.rst
Labels: 3. to review, backport-request, manual: admin, feature: install and update

#12029 feat(developer): Add note about `IFilenameValidator`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 3. to review, manual: developer

#12025 docs(AI/Chat): Add note about hidden prompt
  admin_manual/ai/app_assistant.rst
Labels: manual: admin

#12043 feat: document newly added send-mail and share api changes
  developer_manual/client_apis/OCS/ocs-share-api.rst
Labels: 3. to review

#12042 Document changes in IGroupManager and ICreateGroupBackend
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review

#12033 docs(developer): Document database deprecations due to upcoming doctrine update
  admin_manual/installation/system_requirements.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, manual: developer

#12045 feat: document newly added send mail and share api changes into app upgrade guide
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
  developer_manual/client_apis/OCS/ocs-share-api.rst
Labels: enhancement, 3. to review

#12047 enh: document new IToken constants
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 3. to review

#12046 docs(developer): document the new reason code for a lock wait timeout…
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review

#12049 docs/api
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, manual: developer

#12048 Document my changes to 30 for developers
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: enhancement, 3. to review, manual: developer

#12044 fix: EoL 27 from index + move EoL desktop versions to dedicated section
  index.html
Labels: bug, 3. to review, manual: admin, client: 💻 desktop

#11917 Add docs for room resources for calendar
  user_manual/groupware/calendar.rst
  user_manual/groupware/images/room_availability.png
Labels: 3. to review, manual: user

#12056 feat(admin): Users management delegation
  admin_manual/configuration_server/admin_delegation_configuration.rst
Labels: enhancement, 2. developing, feature: users and groups, feature: settings

#12059 feat(admin): harden server with admin IP restrict
  admin_manual/installation/harden_server.rst
Labels: 3. to review

#11863 Add documentation for simple and advance search
  user_manual/groupware/mail.rst
Labels: 3. to review

#12055 docs(AI): Add note about CUDA version requirements
  admin_manual/ai/app_context_chat.rst
  admin_manual/ai/app_llm2.rst
Labels: enhancement, 3. to review

#12060 feat: update list of ocp events
  developer_manual/basics/_available_events_ocp.rst
  developer_manual/basics/events.rst
Labels: 3. to review, manual: developer

#12061 docs(preview): add imaginary pdf provider
  admin_manual/release_notes/upgrade_to_30.rst
Labels: bug, 3. to review

#12063 docs(TaskProcessing): Update docs to reflect latest changes
  admin_manual/ai/app_assistant.rst
  admin_manual/ai/app_context_chat.rst
  admin_manual/configuration_server/config_sample_php_parameters.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
  developer_manual/digging_deeper/speech-to-text.rst
  developer_manual/digging_deeper/task_processing.rst
  developer_manual/digging_deeper/text2image.rst
  developer_manual/digging_deeper/text_processing.rst
  developer_manual/digging_deeper/translation.rst
Labels: 3. to review
