Repository nextcloud/documentation, pull requests merged in 2024-05, with the labels that each got.

#11775 fix(Requirements): Memory constrained environments
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, manual: admin, feature: install and update

#11772 feat: document unsharing and resharing for Calendars
  user_manual/groupware/calendar.rst
Labels: 3. to review, backport-request, feature: caldav

#11776 Update link in publishing.rst
  developer_manual/app_publishing_maintenance/publishing.rst
Labels: 3. to review, backport-request, manual: developer

#11777 Add totp regex to fail2ban example on harden_server.rst
  admin_manual/installation/harden_server.rst
Labels: 3. to review, manual: admin, security

#11790 fix(CI): Update block-merge-eol.yml
  .github/workflows/block-merge-eol.yml
Labels: backport-request

#11795 Update caching_configuration.rst
  admin_manual/configuration_server/caching_configuration.rst
Labels: backport-request

#11803 feat(admin-manual): add go.php link to long running migration steps
  go.php
Labels: enhancement, manual: admin, feature: install and update, feature: settings

#11828 chore: remove documentation for user_external
  admin_manual/configuration_user/index.rst
  admin_manual/configuration_user/user_auth_ftp_smb_imap.rst
Labels: enhancement, 3. to review, backport-request, manual: admin

#11850 fix(admin): Adjust docs for theming
  admin_manual/configuration_server/images/theming1.png
  admin_manual/configuration_server/theming.rst
Labels: bug, 3. to review, manual: admin

#11838 fix(admin): Remove "latest" archive reference during upgrades
  admin_manual/maintenance/manual_upgrade.rst
Labels: bug, 3. to review, backport-request, manual: admin

#11848 fix: remove mention of legacy `filelocking.enabled` toggle
  admin_manual/configuration_files/files_locking_transactional.rst
Labels: 3. to review, backport-request, manual: admin, technical debt, feature: filesystem, feature: settings

#11773 docs(usermanual): Calendar widget
  user_manual/groupware/calendar.rst
Labels: 3. to review

#11873 fix: 29 is the latest stable version while 28 is now just a normal version
  index.html
Labels: bug, 3. to review
