Repository nextcloud/documentation, pull requests merged in 2024-09, with the labels that each got.

#12152 feat: [User Manual] Phishing detection
  user_manual/groupware/mail.rst
Labels: 3. to review, manual: user, feature: mail app

#12156 feat: [User Manual] document thread summary limitation
  user_manual/groupware/mail.rst
Labels: 3. to review, manual: user, feature: mail app

#12163 chore: Remove unused subsections and add note about CSS variables section
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, manual: developer

#12161 feat(adminmanual): Add section about CardDAV rate limits
  admin_manual/groupware/contacts.rst
Labels: enhancement, backport-request, manual: admin, feature: carddav

#12168 feat(developer): Add initial changes for Nextcloud 31
  developer_manual/app_publishing_maintenance/app_upgrade_guide/index.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_31.rst
  developer_manual/digging_deeper/javascript-apis.rst
Labels: enhancement, 3. to review, manual: developer

#12180 feat(user): let users configure their first day of week
  user_manual/userpreferences.rst
Labels: enhancement, 3. to review, backport-request, manual: user

#11725 @kyteinsky feat(Admin/AI): add docs for summary bot
  admin_manual/ai/app_summary_bot.rst
  admin_manual/ai/index.rst
  admin_manual/ai/overview.rst
Labels: manual: admin, feedback-requested

#12169 chore: update available events
  developer_manual/basics/_available_events_ocp.rst
Labels: 3. to review, manual: developer

#12184 chore: add trailing comma for allowed_admin_ranges
  admin_manual/installation/harden_server.rst
Labels: 3. to review, backport-request, manual: admin

#11160 Add `email` and `generate-password` options in `occ user:add`
  admin_manual/configuration_server/occ_command.rst
Labels: enhancement, 3. to review, manual: admin, feature: occ, feature: users and groups

#12165 chore: Cleanup developer manual
  developer_manual/conf.py
  developer_manual/digging_deeper/changelog.rst
  developer_manual/digging_deeper/index.rst
  user_manual_index.html
Labels: 3. to review

#12171 fix(occ): Add setupchecks command
  admin_manual/configuration_server/occ_command.rst
Labels: backport-request

#12195 Feature/nginx conf
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: enhancement, manual: admin

#12197 fix(admin): Add note on trashbin cleanup when quota is exceeded
  admin_manual/configuration_files/trashbin_configuration.rst
Labels: 3. to review, backport-request, manual: admin, feature: trashbin

#12090 feat: Document new API for occ reserved options
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, backport-request, manual: developer

#12201 fix: Dependency hell documentation
  developer_manual/app_development/dependency_management.rst
Labels: 3. to review, dependencies

#12202 [stable30] feat: Document new API for occ reserved options
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review

#12133 docs: Update SFTP External Storage custom port instructions
  admin_manual/configuration_files/external_storage/sftp.rst
Labels: bug, 3. to review, backport-request, waiting for code merge, manual: admin, feature: external storage

#12209 fix: add minimum sqlite version to system requirements
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, backport-request, manual: admin, feature: install and update

#12211 [stable29] fix: add minimum sqlite version to system requirements
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, backport-request, manual: admin, feature: install and update

#12212 Improve occ documentation
  admin_manual/configuration_files/external_storage_configuration_gui.rst
  admin_manual/configuration_files/file_sharing_configuration.rst
  admin_manual/configuration_mimetypes/index.rst
  admin_manual/configuration_server/index.rst
  admin_manual/configuration_user/profile_configuration.rst
  admin_manual/configuration_user/reset_admin_password.rst
  admin_manual/configuration_user/user_auth_ldap_cleanup.rst
  admin_manual/contents.rst
  admin_manual/groupware/calendar.rst
  admin_manual/issues/code_signing.rst
  admin_manual/maintenance/upgrade.rst
  admin_manual/occ_command.rst
  user_manual/files/encrypting_files.rst
Labels: 3. to review

#12214 feat(dev): Clarify IStorage::getOwner() return type
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_31.rst
Labels: 3. to review

#12064 Add the new keyword
  developer_manual/client_apis/OCS/ocs-openapi.rst
Labels: feedback-requested

#12217 chore(developer): Document removal of `OC_App::getForms`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_31.rst
Labels: 3. to review, manual: developer, technical debt

#12051 chore: Add notes for `noExpirationDate` flag addition to share API
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_30.rst
Labels: 3. to review, backport-request

#12213 Update reverse_proxy_configuration.rst, fixing traefik-v2 example
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: 3. to review, manual: admin

#12219 developer: Add information about `ILogger`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_31.rst
  developer_manual/basics/dependency_injection.rst
  developer_manual/digging_deeper/psr.rst
Labels: bug, 3. to review, backport-request, manual: developer

#12223 docs(ldap): Add logging suggestion to Troubleshooting section
  admin_manual/configuration_user/user_auth_ldap.rst
Labels: enhancement, manual: admin, feature: ldap

#12231 fix(dev): Use non-ambigous array syntax in OpenAPI tutorial
  developer_manual/client_apis/OCS/ocs-openapi.rst
Labels: 3. to review, backport-request

#12247 chore(developer): Add documentation about new WebDAV endpoint for downloading folders
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_31.rst
  developer_manual/client_apis/WebDAV/basic.rst
Labels: 3. to review, manual: developer
