Repository nextcloud/documentation, pull requests merged in 2025-03, with the labels that each got.

#12813 feat(developer): document calendar event builder interface
  developer_manual/digging_deeper/groupware/calendar.rst
Labels: enhancement, 3. to review, backport-request, manual: developer

#12840 IUserConfig
  developer_manual/digging_deeper/config/index.rst
  developer_manual/digging_deeper/config/userconfig.rst
Labels: backport-request

#12868 feat: add system address book documentation
  admin_manual/groupware/contacts.rst
Labels: 3. to review

#12875 fix: Add versions back to developer and admin docs
  admin_manual/_templates/versions.html
  admin_manual/conf.py
  conf.py
  developer_manual/_templates/versions.html
  developer_manual/conf.py
Labels: bug, 3. to review, backport-request

#12867 docs(user-manual): Add note about disabled addressBooks
  user_manual/groupware/contacts.rst
Labels: 3. to review, backport-request

#12888 chore: document profile visibility for users and administrator
  admin_manual/configuration_user/profile_configuration.rst
  user_manual/images/userdata-visibility-toggle.png
  user_manual/images/userdata-visibility.png
  user_manual/userpreferences.rst
Labels: 3. to review, backport-request, manual: admin, manual: user

#12891 feat(activity): exclude users from expiry
  admin_manual/configuration_server/activity_configuration.rst
Labels: 3. to review, feature: activity and notification

#12922 fix(devcontainer): upgrade Python to match minimal requirements
  .devcontainer/Dockerfile
Labels: 3. to review

#12446 refactor(admin): 2FA chapter clean-up
  admin_manual/configuration_user/two_factor-auth.rst
Labels: bug, enhancement, backport-request, manual: admin, feature: authentication, feature: users and groups

#12928 docs(admin): Add documentation for contacts example content
  admin_manual/groupware/contacts.rst
Labels: 3. to review, manual: admin

#12929 fix(example-contact): spacing and inclusive wording
  admin_manual/groupware/contacts.rst
Labels: 3. to review, manual: admin

#12936 feat(admin_manual): document `user:info` occ command
  admin_manual/occ_command.rst
Labels: 3. to review, backport-request, manual: admin

#12940 feat(admin_manual): document `ldap:test-user-settings` and cleanup lap section
  admin_manual/occ_command.rst
Labels: 3. to review, manual: admin

#12941 feat(developer_manual): document IAppConfig AppFramework service
  developer_manual/basics/front-end/js.rst
  developer_manual/digging_deeper/config/appconfig.rst
Labels: 3. to review, backport-request
