Repository nextcloud/documentation, pull requests merged in 2025-02, with the labels that each got.

#12562 fix(admin): Update required sqlite to 3.24+
  admin_manual/installation/system_requirements.rst
Labels: bug, 3. to review, backport-request, manual: admin, feature: install and update

#12651 Bugfix/noid/fix pdf generation
  admin_manual/Makefile
  admin_manual/ai/images/ai_overview.png
  admin_manual/ai/overview.rst
  developer_manual/Makefile
  user_manual/Makefile
Labels: bug, 3. to review

#12712 Fix typo (ckicjin -> clicking)
  user_manual/groupware/mail.rst
Labels: bug, 3. to review, backport-request

#12745 feat: Add `go.php` link for admin logging
  go.php
Labels: 3. to review

#12777 admin(windmill): Add more details on creating custom scripts
  admin_manual/windmill_workflows/index.rst
Labels: enhancement, 3. to review, manual: admin, feature: workflows

#12549 Restructure significant part of the controller documentation
  developer_manual/basics/controllers.rst
  developer_manual/basics/routing.rst
Labels: feedback-requested
