Repository nextcloud/documentation, pull requests merged in 2025-10, with the labels that each got.

#13748 chore(platform): Drop PHP 8.1
  admin_manual/installation/system_requirements.rst
  admin_manual/release_notes/upgrade_to_33.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_33.rst
Labels: 3. to review, manual: admin, manual: developer

#13750 fix: add missing iOS e2ee ss
  user_manual/images/e2ee-ios-add.png
  user_manual/images/e2ee-ios-encrypt.png
  user_manual/images/e2ee-ios-mnemonic.png
Labels: 3. to review

#13762 feat(talk): add documentation for features of 22.0
  user_manual/talk/advanced_features.rst
  user_manual/talk/images/background-settings-in-call.png
  user_manual/talk/images/ban-participant-dialog.png
  user_manual/talk/images/ban-participant.png
  user_manual/talk/images/call-bottom-bar.png
  user_manual/talk/images/call-transcription.png
  user_manual/talk/images/call-view-toggle-button.png
  user_manual/talk/images/clear-filter.png
  user_manual/talk/images/create-new-conversation.png
  user_manual/talk/images/filters-menu.png
  user_manual/talk/images/give-recording-consent-checked.png
  user_manual/talk/images/give-recording-consent.png
  user_manual/talk/images/lobby-in-talk.png
  user_manual/talk/images/media-settings.png
  user_manual/talk/images/message-editing.png
  user_manual/talk/images/open-settings.png
  user_manual/talk/images/participant-menu.png
  user_manual/talk/images/share-files-in-chat.png
  user_manual/talk/images/share-screen-with-camera.png
  user_manual/talk/images/smart-picker.png
  user_manual/talk/images/start-recording-before-call.png
  user_manual/talk/images/start-recording-in-call.png
  user_manual/talk/images/stop-recording.png
  user_manual/talk/images/talk-grid-view.png
  user_manual/talk/images/talk-promoted-view.png
  user_manual/talk/images/thread-create-action.png
  user_manual/talk/images/thread-edit-title.png
  user_manual/talk/images/thread-example.png
  user_manual/talk/images/thread-notifications.png
  user_manual/talk/images/threads-followed.png
  user_manual/talk/images/threads-list-shared-items.png
  user_manual/talk/talk_basics.rst
Labels: 3. to review, backport-request
