Repository nextcloud/documentation, pull requests merged in 2025-05, with the labels that each got.

#12368 profiler docs: add version detection
  developer_manual/digging_deeper/profiler.rst
Labels: enhancement, 3. to review

#11637 fix(devmanual): link to appconfig
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_29.rst
  developer_manual/digging_deeper/config/appconfig.rst
Labels: 3. to review, manual: developer

#13119 fix: clarify that group admins cannot add existing users to their group
  admin_manual/configuration_user/user_configuration.rst
Labels: 3. to review, backport-request

#12459 Update server_tuning.rst to include example Imaginary Docker run command
  admin_manual/installation/server_tuning.rst
Labels: 0. Needs triage, manual: admin, feature: previews and thumbnails, feedback-requested

#13124 feat(developer): document `\OCP\Files\IFilenameValidator::sanitizeFilename`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer

#13127 chore(developer): document removal of `\OCP\Files::getStorage`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer

#13128 feat(developer): document adding of `\OCP\Security\PasswordContext`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_31.rst
  developer_manual/basics/_available_events_ocp.rst
Labels: enhancement, 3. to review, backport-request, manual: developer

#13132 chore(dev): Document removal of \OCP\AppFramework\App::registerRoutes
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer

#13130 chore(developer): document removal of the deprecated Account visibility constants
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer

#13133 docs(groupware): add troubleshooting article for missing calendars
  admin_manual/groupware/index.rst
  admin_manual/groupware/troubleshooting.rst
  admin_manual/issues/general_troubleshooting.rst
Labels: enhancement, 3. to review

#13134 chore(developer): document removals in `OC_Helper`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer

#13146 feat: Document removal of OC_Util::addScript and friends
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review

#13149 feat(dev): Document new UserMount events
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
  developer_manual/basics/_available_events_ocp.rst
Labels: 3. to review

#13150 feat(dev): Document new RequestHeader attribute
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review

#13152 feat: Document deprecation of OC_User::useBackend and clearBackends
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review

#13151 docs(groupware): update troubleshooting article for missing calendars
  admin_manual/groupware/troubleshooting.rst
Labels: enhancement, 3. to review

#13157 feat: add docs for doc creation from template performance improvements
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer, feature: files

#13153 feat: Document app.php removal and adapt related documentation
  developer_manual/app_development/bootstrap.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
  developer_manual/basics/events.rst
  developer_manual/basics/request_lifecycle.rst
Labels: 3. to review

#13161 chore: add docs for deprecated `\OC_Helper::isReadOnlyConfigEnabled`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer

#13126 Add hint to pretty URLs: edit config htaccess.ignorefrontcontroller if htaccess SetEnv does not work
  admin_manual/installation/source_installation.rst
Labels: 3. to review, backport-request
