Repository nextcloud/documentation, pull requests merged in 2025-09, with the labels that each got.

#13586 fix(docs): update copyright shown in footer
  conf.py
Labels: bug, 3. to review, manual: admin, manual: developer, manual: user

#13585 feat(docs): friendly 404 page
  conf.py
  requirements.txt
Labels: enhancement, 3. to review, manual: admin, manual: developer, manual: user

#13573 refactor(admin): Improve the PHP Modules & Configuration chapter
  admin_manual/installation/php_configuration.rst
  go.php
Labels: enhancement, 3. to review, manual: admin, refactor

#13588 clarify "Enable an app for specific groups of users"
  admin_manual/occ_command.rst
Labels: bug, 3. to review

#13589 fix formatting of code sample
  admin_manual/occ_command.rst
Labels: bug, 3. to review, backport-request, manual: admin

#13620 refactor(dev): clean up Sphinx config / bring up-to-date
  developer_manual/conf.py
Labels: 3. to review, backport-request, manual: developer, refactor

#13625 remove warning that nginx is not officially supported
  admin_manual/installation/nginx.rst
Labels: 3. to review, manual: admin

#13632 refactor(developer): remove non used changelog sections
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_25.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_28.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, refactor

#13630 feat(developer): document removal of global `md5`
  developer_manual/app_publishing_maintenance/app_upgrade_guide/index.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_33.rst
Labels: 3. to review, manual: developer

#13621 feat(README): Add tip about using Documatt Snippets for learning / previewing
  README.rst
Labels: enhancement, 3. to review

#13634 Fix incorrect heading markup in example_centos.rst
  admin_manual/installation/example_centos.rst
Labels: 3. to review, manual: admin

#13668 fix(webhook_listeners): Document Tag{Assigned,Unassigned}Event
  admin_manual/webhook_listeners/index.rst
Labels: backport-request

#13669 Update supported Oracle Database
  admin_manual/installation/system_requirements.rst
Labels: 3. to review, backport-request

#13685 Add missing closing apostrophe for string
  admin_manual/configuration_server/reverse_proxy_configuration.rst
Labels: bug, 4. to release, backport-request, manual: admin

#13716 feat: Add removal of OC.SystemTags JS API
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_33.rst
Labels: 3. to review

#13680 add documentation about groupware > contacts > social-avatars
  user_manual/groupware/contacts.rst
Labels: 3. to review, feature: contacts

#13727 fix(user_manual): add Talk 20.0 features documentation
  user_manual/talk/advanced_features.rst
  user_manual/talk/images/ban-participant-dialog.png
  user_manual/talk/images/ban-participant-list.png
  user_manual/talk/images/ban-participant.png
  user_manual/talk/images/events-upcoming.png
  user_manual/talk/images/smart-picker.png
  user_manual/talk/talk_basics.rst
Labels: 3. to review, feature: talk

#13728 docs(webhooks): Improve docs for Webhook Listeners app
  admin_manual/webhook_listeners/index.rst
Labels: enhancement, 3. to review, manual: admin, refactor
