Repository nextcloud/documentation, pull requests merged in 2025-08, with the labels that each got.

#13450 feat(developer): Document Consumable vs. Implementable OCP
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
  developer_manual/digging_deeper/api.rst
Labels: 3. to review, manual: developer

#13485 feat(developer): add IPreloadableNotifier to upgrade guide
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer, feature: activity and notification

#13486 Mail: Dashboard integration
  user_manual/groupware/mail.rst
Labels: 3. to review

#13524 feat(admin): example contact feature is enabled by default
  admin_manual/groupware/contacts.rst
Labels: bug, 3. to review, manual: admin, feature: carddav

#13523 feat(admin): document example event feature
  admin_manual/groupware/calendar.rst
Labels: enhancement, 4. to release, manual: admin, feature: caldav

#13522 Add new event in the developer doc available event list
  developer_manual/basics/_available_events_ocp.rst
Labels: 3. to review, manual: developer, feature: authentication

#13533 feat(admin): Add distinct sections + links
  admin_manual/conf.py
  admin_manual/contents.rst
Labels: enhancement, 3. to review, manual: admin

#13537 Fix colour statement in usage.rst
  user_manual/desktop/usage.rst
Labels: client: 💻 desktop

#13514 Document API change for IDBConnection::getDatabaseProvider
  developer_manual/app_publishing_maintenance/app_upgrade_guide/upgrade_to_32.rst
Labels: 3. to review, manual: developer

#13513 improve nginx conf examples to mention php-fpm timeouts
  admin_manual/installation/nginx-root.conf.sample
  admin_manual/installation/nginx-subdir.conf.sample
Labels: 3. to review, manual: admin

#13565 feat(developer_manual): add new tags for issue classification
  developer_manual/getting_started/coding_standards/index.rst
Labels: enhancement, 3. to review, backport-request
